@import '~styles/v1/common/import-sass'

.StarterTips
  position: relative
.StarterTips_wrap
  margin: 35px -20px -55px
  background: $grey
  border-bottom: 1px solid $dark-grey-blue
  padding: 0px 20px
  position: relative
  z-index: 1
  overflow: hidden
  max-height: 0
  box-shadow: inset 0px -4px 43px rgba(0,0,0, .15)
.closeCross
  width: 50px
  height: 50px
  border: 2px solid $dark-grey-blue
  border-radius: 50px
  background: $dark-grey-blue
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.15), 0px 0 3px rgba(255, 255, 255, 0.8)
  position: absolute
  left: calc(50% - 25px)
  bottom: -25px
  cursor: pointer
  z-index: 3
  opacity: 0
  &:after
    content: ""
    width: 20px
    height: 20px
    display: block
    position: absolute
    border-left: 1px solid $grey
    border-top: 1px solid $grey
    transform: rotate(-135deg)
    top: 8px
    left: 12px
    +transition(.3s, lenear)
  &.active
    opacity: 1
    &:after
      transform: rotate(45deg)
      top: 18px
.StarterTips
  &_items
    display: flex
    justify-content: space-between
    flex-flow: row wrap
  &_item
    width: calc(100% / 3 - 10px)
    position: relative
    padding: 30px 20px
    border-radius: 15px
    &.active
      animation-name: highlight
      animation-duration: 2.5s
      animation-iteration-count: 1
      animation-delay: .3s
    &:after
      content: ""
      display: block
      position: absolute
      right: -10px
      top: 0
      height: 100%
      width: 1px
      background: linear-gradient(to bottom, rgba(46,51,88,0.01) 0%,rgba(46,51,88,0.65) 48%,rgba(0,0,0,0) 100%)
    &:nth-child(3)
      &:after
        display: none
  &_title
    +font(500, 24px, 26px, $dark-grey-blue)
    opacity: .7
.StarterTips_item
  +font(300, 18px, 24px, $dark-grey-blue)
  p
    margin-bottom: 20px
  a
    +font(500, 18px, 24px, $blue)
    text-decoration: underline
    cursor: pointer
  ul
    li
      margin-bottom: 30px
      position: relative
      padding-left: 45px
      &:before
        display: block
        position: absolute
        top: -4px
        left: 0
        width: 35px
        padding: 10px 0
        margin-right: 15px
        text-align: center
        background: rgba(0, 176, 221, 0.7)
        border-radius: 35px
        +font(500, 14px, 14px, $grey)
        box-shadow: 0 0 1px rgba(0,0,0, .5)
@for $i from 0 to 20
  li:nth-child(#{$i + 1})
    &:before
      content: "#{$i + 1 }"
.shareBox
  padding-top: 20px
@keyframes highlight
  0%
    box-shadow: 0 0 0px rgba(0, 176, 221, 0)
  20%
    box-shadow: 0 0 10px rgba(0, 176, 221, 1)
  100%
    box-shadow: 0 0 10px rgba(0, 176, 221, 1)
  100%
    box-shadow: 0 0 0px rgba(0, 176, 221, 0)
.tipsModal
  position: fixed
  z-index: 1000
  width: 100vw
  height: 100vh
  margin: auto
  left: 20px
  top: 20px
  right: 20px
  bottom: 20px
  max-width: 900px
  max-height: 700px
  background: $white
  border-radius: 10px
  box-shadow: 0 0 100px rgba(0,0,0, .5)
  padding: 50px 20px 30px
  .close
    position: absolute
    width: 30px
    height: 30px
    right: 20px
    top: 30px
    cursor: pointer
    &:after,
    &:before
      content: ""
      width: 30px
      height: 1px
      background-color: $dark-grey-blue
      position: absolute
      display: block
      top: 0
      left: 0
    &:before
      transform: rotate(45deg)
    &:after
      transform: rotate(-45deg)
  .copy
    text-align: center
  .ui-wysiwyg
    height: 100%
    overflow-y: auto