@import '~styles/v1/common/import-sass'

.StarterTips
  position: relative
.StarterTips_wrap
  margin: 35px -20px -35px
  background: $grey
  border-bottom: 1px solid $dark-grey-blue
  padding: 30px 20px
  position: relative
  z-index: 1
  overflow: hidden
  max-height: 1000px
.closeCross
  width: 50px
  height: 50px
  border: 2px solid $dark-grey-blue
  border-radius: 50px
  background: $dark-grey-blue
  box-shadow: 2px 0 5px rgba(0,0,0, .15)
  position: absolute
  left: calc(50% - 25px)
  bottom: -25px
  cursor: pointer
  z-index: 3
  &:after
    content: ""
    width: 20px
    height: 20px
    display: block
    position: absolute
    border-left: 1px solid $grey
    border-top: 1px solid $grey
    transform: rotate(45deg)
    top: 18px
    left: 12px
.StarterTips
  &_items
    display: flex
    justify-content: space-between
    flex-flow: row wrap
  &_item
    width: calc(100% / 3 - 10px)
    position: relative
    padding: 30px 20px
    &:after
      content: ""
      display: block
      position: absolute
      right: 0
      top: 0
      height: 100%
      width: 1px
      background: linear-gradient(to bottom, rgba(46,51,88,0.01) 0%,rgba(46,51,88,0.65) 48%,rgba(0,0,0,0) 100%)
    &:nth-child(3)
      &:after
        display: none
  &_title
    padding: 30px 0 0
    text-align: center
    +font(500, 24px, 26px, $dark-grey-blue)
    opacity: .7
.StarterTips_item
  +font(300, 18px, 24px, $dark-grey-blue)
  p
    margin-bottom: 20px
  a
    +font(500, 18px, 24px, $blue)
    text-decoration: underline
  ul
    li
      margin-bottom: 20px
      position: relative
      padding-left: 35px
      &:before
        display: block
        position: absolute
        top: 0
        left: 0
        width: 25px
        height: 25px
        margin-right: 15px
        text-align: center
        background: rgba(0, 176, 221, 0.7)
        border-radius: 20px
        +font(500, 14px, 24px, $grey)
@for $i from 0 to 20
  li:nth-child(#{$i + 1})
    &:before
      content: "#{$i + 1 }"