.dashboard
  background: $dashboard-bg
  display: flex
  flex-flow: row wrap
  height: 100vh
  &__aside
    width: 240pt
    background: $dashboard-aside-bg
    box-sizing: border-box
    padding: 45pt 0 25pt
    display: flex
    align-content: space-between
    flex-flow: row wrap
    &__wrap
      display: block
      width: 100%
    &__item
      +font($baseFont--medium, 15pt, 15pt, $white, none, none, none)
      cursor: pointer
      border-left: 5pt solid transparent
      padding-left: 25pt
      min-height: 50pt
      display: flex
      align-items: center
      background: transparent
      opacity: .6
      +transition(.3s, linear)
      a
        +font($baseFont--medium, 15pt, 15pt, $white, none, none, none)
        min-height: 50pt
        display: flex
        align-items: center
      &:hover,
      &.active
        color: $white
        background: $slate-grey
      &.active
        border-left: 5pt solid $blue
        opacity: .99
      &__icon
        width: 14pt
        margin-right: 16pt
.dashboard
  &__main
    width: calc(100% - 240pt)
.dashboard
  &__toolbar
    box-sizing: border-box
    padding: 17pt 40pt
    width: 100%
    display: flex
    background: $white
    justify-content: space-between
    box-shadow: 0px 2px 2px rgba(46,53,59, .05)
    &__col
      display: flex
      align-content: center
