@import "~styles/v1/theme"
.wallet-settings__group
  max-width: 550px
  width: 100%
  &__checkbox
    display: flex
    justify-content: flex-start
    align-items: center
    .ui-label
      width: initial
      display: inline-block
      margin-right: 20px
      margin-bottom: 0
      position: relative
      top: -2px
