@import '~styles/v1/common/import-sass'
.quests
  padding: 50px 40px
.quests_title
  margin-bottom: 20px
.quests_description
  +font(300, 18px, 26px)
  p
    margin-bottom: 10px
  ol
    list-style-type: decimal
    padding-left: 20px
    margin: 0px 0px 10px 5px
    li
      margin-bottom: 5px