@import '~styles/v1/common/import-sass'
.quests
  padding: 50px 40px
.quests_title
  margin-bottom: 20px
.quests_description
  border-bottom: 1px solid $blue
  margin-bottom: 40px
  padding-bottom: 40px
  +font(300, 18px, 26px)
  p
    margin-bottom: 10px
  ol
    list-style-type: decimal
    padding-left: 20px
    margin: 0px 0px 10px 5px
    li
      margin-bottom: 5px
.quests_wrap
  display: flex
  flex-flow: row wrap
  justify-content: space-between
  .quests_column
    width: calc(50% - 40px)
    .title
      margin-bottom: 15px