@import "../profile-module";
page-receive {
  @extend %module-profile;

  text-align: center;

  .address {
    margin: 10px 0;
    font-size: 12px;
  }


  .container {
    margin-top: 20%;
  }

  .scroll-content {
    padding-top: 44px !important; //avg header high TODO get rid of magic numbers!!
    margin-top: 0 !important;
  }

  ion-footer {
    .item-inner {
      border-bottom: none !important;
    }
    .toolbar-background {
      background: white;
    }
  }

  .button-request, .button-address {
    font-size: 12px;
    height: 25px;
    min-height: 25px;
    margin: 0;
  }



}
