@import "~styles/v1/theme"

.wallets
  &__group
    padding: 50px 40px 30px
    &--vaults
      background: $white
    &__header
      display: flex
      justify-content: space-between
      margin-bottom: 30px
      &__title
        color: $gun-metal
    &__wallet
      display: flex
      flex-flow: row wrap
      justify-content: flex-start
      align-items: center
      padding-bottom: 20px
      &__icon
        width: 70px
        height: 70px
        display: flex
        justify-content: center
        align-items: center
        img
          width: 24px
          height: 24px
      &__info
        padding-left: 20px
        letter-spacing: .3px
        .large-black-text
          +font($baseFont--medium, 15px, 22px, $gun-metal, none, none, none)
        .regular-blue-text
          +font($baseFont--medium, 14px, 24px, $blue, none, none, none)
    &__wallet
      &--green .wallets__group__wallet__icon
        background: $light-sea-green
      &--rose .wallets__group__wallet__icon
        background: $rose-pink
      &--lavand .wallets__group__wallet__icon
        background: $lavender
