.ios wallet-details-view ion-header.header-ios ion-title.title.title-ios .toolbar-title.toolbar-title-ios {
  color: white;
}

wallet-details-view {

  ion-content.content > .scroll-content {
    background: #f6f8fa;
  }
  ion-list.list {
    $border-color: transparentize(#d1d6dc, 0.5);
    border-bottom: 1px solid $border-color;
    border-top: 1px solid $border-color;
  }

  .no-transactions {
    margin-top: 100px;
    text-align: center;
    font-size: 17px;
    color: #9da6b7;
  }

  .refresh-spinner {
    position: absolute;
    top: 2px;
    right: 0px;
    color: white;
    &.spinner-ios {
      top: 2px;
      right: 0px;
    }
    line {
      stroke: white !important;
    }
  }

  .content-ios {
    .big-header {
      text-align: center;

      h2.amount {
        font-weight: 300;
        > small {
          font-size: inherit;
          font-weight: inherit;
        }
      }

      h3.detail-fiat {
        font-weight: 400;
        font-size: 17px;
      }

      .action-buttons {
        margin: 30px -8px -8px -8px;
        border-radius: 8px;
        overflow: hidden;

        button[ion-button].button.button-ios {
          .button-inner {
            .inner-container {
              ion-icon {
                font-size: 1.6em;
              }

              span {
                font-size: 13px;
                letter-spacing: .2px;
                font-weight: 300;
              }
            }
          }
        }
      }
    }
  }

  ion-header.header {

    button[ion-button], .toolbar-title {
      color: white;
    }
  }

  ion-list.list {
    button[ion-item].item {
      ion-note.detail[item-end] {
        text-align: right;
        font-size: 13px;
        color: #73819b;
      }
    }
  }

  .details {
    color: transparentize(color($colors, primary), 0.2);
    font-size: 12px;
    font-weight: 600;
  }

  ion-item-divider {
    padding-top: 6px !important;
    padding-bottom: 0 !important;
  }

  .sub-header {
    border-bottom: 1px solid transparentize(#d1d6dc, 0.5);
    ion-col {
      text-align: center;
      padding: 0;
      background: #f6f8fa !important;
      button {
        box-shadow: none;
        margin: 10px;
        border: none;
        height: 65px;
        line-height: 60px;
        width: calc(100% - 20px);
        //background: rgba(0,0,0,0.05);
        background: rgba(83, 185, 232, 0.75);
        font-size: 18px;
        ion-icon {
          font-size: 30px;
          vertical-align: middle;
          display: inline-block;
          margin-top: -3px;
          margin-right: 3px;
        }
        span {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
    ion-col:nth-child(1) button {
      margin-right: 0;
    }
    ion-col:nth-last-child(1) button {
      margin-left: 0;
    }

  }
  .stats {
    h2 {
      font-size: 16px !important;
    }
    ion-item.item  {
      padding-top: 2.5px;
      padding-bottom: 3px;
    }
  }

}
.ios wallet-details-view ion-header.header-ios {
  .toolbar-ios {
    padding: 15px 4px;
   }
  ion-title.title.title-ios .toolbar-title.toolbar-title-ios {
    color: white;
  }



}
