.ios wallet-details-view ion-header.header-ios ion-title.title.title-ios .toolbar-title.toolbar-title-ios {
  color: white;
}

wallet-details-view {

  .content-ios {
    .big-header {
      text-align: center;

      h2.amount {
        font-weight: 300;
        > small {
          font-size: inherit;
          font-weight: inherit;
        }
      }

      h3.detail-fiat {
        font-weight: 400;
        font-size: 17px;
      }

      .action-buttons {
        margin: 30px -8px -8px -8px;
        border-radius: 8px;
        overflow: hidden;

        button[ion-button].button.button-ios {
          .button-inner {
            .inner-container {
              ion-icon {
                font-size: 1.6em;
              }

              span {
                font-size: 13px;
                letter-spacing: .2px;
                font-weight: 300;
              }
            }
          }
        }
      }
    }
  }

  ion-header.header {

    button[ion-button], .toolbar-title {
      color: white;
    }
  }

  .big-header {
    padding-top: 0;
    h2 {
      font-weight: 400;
    }

    .amount-available {
      font-size: 17px;
      color: rgba(255, 255, 255, 0.74);
    }

    .action-buttons {
      margin: 21px -18px -18px -18px;
      height: 85px;
      background: rgba(0, 0, 0, 0.08);
      display: flex;
      flex-direction: row;

      > .button-cell {
        height: inherit;
        flex: 1;
        position: relative;

        &:first-child:after {
          content: '';
          height: 41px;
          width: 1px;
          display: block;
          position: absolute;
          right: 1px;
          top: 23px;
          background: rgba(255, 255, 255, .2);
        }

        button[ion-button].button {
          height: inherit;
          background: transparent;
          box-shadow: none;
          border: none;
          width: 100%;
          padding: 0;
          margin: 0;

          .button-inner {
            .inner-container {
              ion-icon {
                font-size: 1.9em;
                line-height: .67;
                padding: 0;
                pointer-events: none;
                display: block;
                margin-bottom: 12px;
              }

              span {
                font-size: 11px;
                letter-spacing: .13px;
              }
            }
          }
        }
      }
    }
  }

  ion-list.list {
    button[ion-item].item {
      ion-note.detail[item-end] {
        text-align: right;
        font-size: 13px;
        color: #73819b;
      }
    }
  }
}
.ios wallet-details-view ion-header.header-ios {
  .toolbar-ios {
    padding: 15px 4px;
   }
  ion-title.title.title-ios .toolbar-title.toolbar-title-ios {
    color: white;
  }
}
