@import '~styles/v1/common/import-sass'

.taskConfirm
  display: flex
  margin-bottom: 30px
  align-items: center
  justify-content: space-between
  position: relative
  background: $white
  border-radius: 5px
  box-shadow: 2px 2px 10px rgba(0,0,0, .1)
  padding: 10px
  border: 1px solid $blue
  .icon
    width: 30px
    height: 40px
    margin-right: 10px
    align-items: center
    justify-content: center
    display: flex
    merit-icon
      opacity: .4
      background: $blue
    strong
      +font(900, 12px, 12px, $blue)
  .details
    width: 100%
    box-sizing: border-box
    &_title
      +font(600, 16px, 22px, $blue)
      position: relative
      display: inline-block
    &_description
      +font(300, 14px, 22px)
