@import "~styles/v1/common/variables"
app-slider-guide
  position: fixed
  z-index: 100
  width: 100vw
  height: 100vh
  left: 0
  top: 0
  background: $dark
.guides_wrap
  a
    color: $blue
    text-decoration: underline
