@import "~styles/wallet-v1/theme"
\:host
  .unlock
    display: block
    background: $dark-blue
    width: 100vw
    &__content
      min-height: 100vh
      display: flex
      justify-content: center
      align-items: center
      flex-flow: row wrap
    &__heading
      display: block
      max-width: 460pt
      text-align: center
