@import '~styles/v1/common/import-sass'
\:host
  position: fixed
  height: 100%
  width: 100%
  top: 0
  left: 0
  z-index: 1000
  .ui-prompt
    width: 450px
    min-height: 180px
    padding: 20px
    border-radius: 4px
    display: block
    background: white
    position: fixed
    z-index: 1001
    top: calc(50% - 180px / 2)
    left: calc(50% - 450px / 2)
    .title
      +font(400, 24px, 28px, $blue)
      margin-bottom: 24px
    .message
      +font(400, 18px, 24px, $gun-metal)
      margin-bottom: 24px

      .globalsend-link
        +font(400, 16px, 24px, $gun-metal)
        word-break: break-word
        cursor: pointer
        padding: 10px 0
