@import "~styles/v1/common/import-sass"
.invite-request-list
  width: 100%
  .address
    width: 100%
    border-bottom: 1px solid $pale-grey
.history__item__info__title
  small
    font-size: 11px
.badge-new
  background: #008000
  color: #ffffff
  padding: 1px
  padding-left: 6px
  padding-right: 6px
  border-radius: 4px
  font-size: 12px
  vertical-align: top