.ios view-send-invite {
  .content {
    .no-results {
      button[ion-button].button-ios {
        border-radius: 21px;
        font-weight: 500;
        &[color='light'] {
          color: rgb(41, 61, 82);
        }
      }
    }
  }
}

.md view-send-invite {
  ion-header.header.header-md {
    ion-searchbar.searchbar-md {
      padding: 8px;
    }
    ion-buttons.bar-buttons button[ion-button].bar-button {
      margin-left: 0;
      ion-icon {
        color: map_get($colors, primary);
      }
    }
  }
}

view-send-invite {

  .total-invites {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 50px;
    min-width: 60px;

    span {
      text-align: center;
      font-weight: 600;
      color: #2d3c50;
      padding-right: 5px;
      width: calc(100% - 40px);
    }

    ion-avatar[img-icon] {
      background: transparent;
      transform: scale3d(0.9, 0.9, 1);
      .invites-icon {
        transform: rotate(-45deg);
      }
    }
  }

  .scanner-button {
    position: absolute;
    right: 14px;
    color: color($colors, primary);
    padding: 0;
    min-height: 20px;
    height: 20px;
    border-radius: 0;
    img {
      height: 20px;
      width: 20px;
    }
  }

  .scroll-content {
    display: flex;
    flex-direction: column;
    margin-top: 120px;

    > .loader {
      align-self: center;
      justify-self: center;
    }

    .content {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;

      .no-results {
        height: auto;
        display: block;
      }

      > :first-child:not(.no-results) {
        height: 100%;

        ion-item.item {
          ion-avatar[img-icon] {
            span {
              text-align: center;
              width: 38px;
            }
          }
        }
      }
    }
  }

  ion-header.header {

    .searchbar {
      background: color($colors, light) !important;
    }

    ion-searchbar input::-webkit-input-placeholder {
      color: #999;
      font-size: 14px;
    }

    ion-buttons[end].bar-buttons {
      button[ion-button].bar-button {
        padding: 0;
        margin: 0 6px;
        ion-icon {
          height: 20px;
          width: 20px;
        }
      }
    }
  }
}

view-send-invite, view-send-select-bind-contact {
  .content {
    //height: 100%;
    .no-results {
      height: 100%;
      text-align: center;
      flex-direction: column;
      font-size: 17px;
      color: #9da6b7;
      .send-button {
        padding: 0;
        text-align: center;
        max-width: 244px;
        width: 100%;
        height: 42px;
        margin: 8px auto;
        box-shadow: none;
        font-size: 15px;
        &.button-md-light {
          color: #293d52;
        }
      }

      .address {
        font-size: 11px;
      }
    }
  }

  ion-item, .item-inner, .item-divider {
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .item-divider {
    height: 40px;
    min-height: 40px;
  }

  ion-avatar {
    text-align: center;
    color: color($colors, primary);
    display: inline-block;
    line-height: 40px;
    letter-spacing: -2px;
  }

  contact .item-label {
    text-transform: capitalize;
  }

  ion-item:after {
    display: none;
  }

  .loader {
    text-align: center;
    ion-spinner {
      height: 100px;
    }
  }

  .unlock-screen {

    text-align: center;
    overflow-y: hidden;
    height: calc(100% - 60px);

    .unlock-backdrop {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgb(244, 247,250);
      opacity: 0.7;
      z-index: 1000;
    }

    .unlock-popup {
      height: 204px;
      width: 284px;
      position: absolute;
      z-index: 1001;
      top: calc(50% - 40px);
      left: 50%;
      margin-top: -102px;
      margin-left: -142px;
      background: white;
      box-shadow: 0px 1px 2px  rgba(0, 0, 0, 0.5);
      text-align: center;
      border-radius: 10px;
      .top-label {
        font-size: 13px;
        color: rgb(115, 129, 155);
        margin: 25px 0;
      }
      img {
        height: 48px;
        width: 38px;
      }
      h2 {
        font-size: 17px;
        color: rgb(41, 61, 82);
        margin: 0;
        margin-top: 7px;
      }
      .bottom-label {
        font-size: 13px;
        color: rgb(115, 129, 155);
        margin: 25px auto;
        width: 210px;
        margin-top: 5px;
        line-height: 15px;
      }
    }

    ion-list {

      .contact-stub {
        p {
          width: 152px;
          background: rgba(92, 109, 128, 0.2);
          height: 12px;
          margin: 10px 0;
        }
        h2 {
          width: 86px;
          background: rgba(240, 243, 248, 1);
          height: 9px;
          margin: 10px 0;
        }
      }
    }
  }
}

.md view-send-invite .scanner-button{
  bottom: 15px;
}
.ios view-send-invite .scanner-button{
  bottom: 8px;
}
