.email-info
  margin-bottom: 20px

.container--inner
  max-width: 500px

input[type="number"]
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button
    -webkit-appearance: none
    margin: 0
