// *** IOS ***
.ios view-send {
  ion-searchbar.searchbar-ios {
    background: transparent;
    display: initial;
    .searchbar-input-container {
      border: 1px solid rgba(0,0,0,0.2);
      border-radius: 4px;
      overflow: hidden;
    }
  }

  button[ion-button].scan-button {
    margin: 2px 8px 0 0;
  }
}

view-send {
  .global-search-button {
    height: 40px;
    line-height: 40px;
    min-height: 40px;
    margin: 8px;
    margin-bottom: 4px;
    width: calc(100% - 16px);
    border-radius: 4px;
    img {
      margin-left: 8px;
      height: 18px;
    }
  }

  .or-line {
    height: 20px;
    color: rgba(0, 0, 0, 0.4);
    margin: 10px 0 0 0;
    .hr {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      width: calc(50% - 45px);
      margin: 0 15px;
      height: 10px;
      vertical-align: bottom;
      display: inline-block;
    }
    .or {
      display: inline-block;
      height: 18px;
      line-height: 18px;
      vertical-align: middle;
      width: 20px;
      text-align: center;
    }
  }

  .searchbar-wrapper {
    display: flex;
    line-height: 58px;
    ion-searchbar {
      display: block;
      vertical-align: middle;
    }
    .scan-button {
      width: 30px;
      height: 30px;
      vertical-align: middle;
      padding: 0;
      margin: 0;
      margin-top: 15px;
      margin-right: 8px;
      .button-inner {
        height: 30px;
        width: 30px;
      }
      ion-icon {
        color: color($colors, primary);
        height: 22px;
        width: 22px;
      }
    }
  }

  .global-illustration {
    text-align: center;
    padding: 0 20px;
    h2 {
      font-size: 17px;
      margin-top: 20px;
      color: rgb(45, 60, 80);
    }
    p {
      font-size: 13px;
      color: rgba(45, 60, 80, 0.6);
    }
    img {
      margin-top: 20px;
      width: 75%;
    }
  }
}

//.ios view-send {
//  .content {
//    .no-results {
//      button[ion-button].button-ios {
//        border-radius: 21px;
//        font-weight: 500;
//        &[color='light'] {
//          color: rgb(41, 61, 82);
//        }
//      }
//    }
//  }
//}
//
//.md view-send {
//  ion-header.header.header-md {
//    ion-searchbar.searchbar-md {
//      padding: 8px;
//    }
//    ion-buttons.bar-buttons button[ion-button].bar-button {
//      margin-left: 0;
//      ion-icon {
//        color: map_get($colors, primary);
//      }
//    }
//  }
//}

//view-send {
//  .scroll-content {
//    display: flex;
//    flex-direction: column;
//
//    > .loader {
//      align-self: center;
//      justify-self: center;
//    }
//
//    .content {
//      height: 100%;
//      display: flex;
//      flex-direction: column;
//      align-content: center;
//      justify-content: center;
//
//      .no-results {
//        height: auto;
//        display: block;
//      }
//
//      > :first-child:not(.no-results), .contacts-list {
//        height: 100%;
//
//        ion-item.item {
//          ion-avatar[img-icon] {
//            span {
//              text-align: center;
//              width: 38px;
//            }
//          }
//        }
//      }
//    }
//  }
//
//  ion-header.header {
//    .toolbar-background {
//      background: white;
//    }
//
//    ion-searchbar input::-webkit-input-placeholder {
//      color: #999;
//      font-size: 14px;
//    }
//
//    ion-buttons[end].bar-buttons {
//      button[ion-button].bar-button {
//        padding: 0;
//        margin: 0 6px;
//        ion-icon {
//          height: 20px;
//          width: 20px;
//        }
//      }
//    }
//  }
//}

view-send, view-send-select-bind-contact {
  .content {
    //height: 100%;
    .no-results {
      height: 100%;
      text-align: center;
      flex-direction: column;
      font-size: 17px;
      color: #9da6b7;
      .send-button {
        padding: 0;
        text-align: center;
        width: 244px;
        height: 42px;
        margin: 8px auto;
        box-shadow: none;
        font-size: 15px;
        &.button-md-light {
          color: #293d52;
        }
      }

      .address {
        font-size: 11px;
      }
    }
  }

  ion-item, .item-inner, .item-divider {
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .item-divider {
    height: 40px;
    min-height: 40px;
  }

  ion-avatar {
    text-align: center;
    color: color($colors, primary);
    display: inline-block;
    line-height: 40px;
    letter-spacing: -2px;
  }

  contact .item-label {
    text-transform: capitalize;
  }

  ion-item:after {
    display: none;
  }

  .loader {
    text-align: center;
    ion-spinner {
      height: 100px;
    }
  }

  .unlock-screen {

    text-align: center;
    overflow-y: hidden;
    height: calc(100% - 60px);

    .unlock-backdrop {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgb(244, 247, 250);
      opacity: 0.7;
      z-index: 1000;
    }

    .unlock-popup {
      height: 204px;
      width: 284px;
      position: absolute;
      z-index: 1001;
      top: calc(50% - 40px);
      left: 50%;
      margin-top: -102px;
      margin-left: -142px;
      background: white;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
      text-align: center;
      border-radius: 10px;
      .top-label {
        font-size: 13px;
        color: rgb(115, 129, 155);
        margin: 25px 0;
      }
      img {
        height: 48px;
        width: 38px;
      }
      h2 {
        font-size: 17px;
        color: rgb(41, 61, 82);
        margin: 0;
        margin-top: 7px;
      }
      .bottom-label {
        font-size: 13px;
        color: rgb(115, 129, 155);
        margin: 25px auto;
        width: 210px;
        margin-top: 5px;
        line-height: 15px;
      }
    }

    ion-list {

      .contact-stub {
        p {
          width: 152px;
          background: rgba(92, 109, 128, 0.2);
          height: 12px;
          margin: 10px 0;
        }
        h2 {
          width: 86px;
          background: rgba(240, 243, 248, 1);
          height: 9px;
          margin: 10px 0;
        }
      }

    }

  }

}
