// *** IOS ***
.ios view-send {

  .scroll-content {
    padding-top: const(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
  }

  ion-searchbar.searchbar-ios {
    background: transparent;
    display: initial;
    .searchbar-input-container {
      border-radius: 4px;
      overflow: hidden;
    }
  }

  button[ion-button].scan-button {
    margin: 10px 0 0;
  }

  .searchbar-wrapper {
    background: #f5f5f5;
    line-height: 44px;
    ion-spinner {
      background: transparent ;
      position: absolute;
      top: 17px;
      right: 12px;
    }
    ion-searchbar {
      padding: 10px;
      height: 60px;

      .searchbar-search-icon {
        top: 13px;
      }

      input.searchbar-input {
        height: 38px;
        line-height: 38px;
      }

    }
    .scan-button {
      position: absolute;
      top: 6px;
      right: 17px;
    }
  }
}

view-send {

  .global-send-button {
    height: 40px;
    line-height: 40px;
    min-height: 40px;
    margin: 8px 8px 4px;
    width: calc(100% - 16px);
    border-radius: 4px;

    img {
      margin-left: 8px;
      height: 18px;
    }
  }

  .or-line {
    height: 20px;
    color: rgba(0, 0, 0, 0.4);
    margin: 10px 0 0 0;
    .hr {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      width: calc(50% - 45px);
      margin: 0 15px;
      height: 10px;
      vertical-align: bottom;
      display: inline-block;
    }

    .or {
      display: inline-block;
      height: 18px;
      line-height: 18px;
      vertical-align: middle;
      width: 20px;
      text-align: center;
    }
  }

  .searchbar-wrapper {
    display: flex;
    line-height: 58px;
    background-color: #fffffff;
    position: relative;
    ion-spinner {
      background: transparent ;
      position: absolute;
      top: 14px;
      right: 18px;
    }
    .scan-button {
      position: absolute;
      top: 0px;
      right: 8px;
      margin: 0;
    }

    ion-searchbar {
      display: block;
      vertical-align: middle;
    }

    .scan-button {
      width: 30px;
      height: 30px;
      vertical-align: middle;
      padding: 0;
      margin: 15px 8px 0 0;

      .button-inner {
        height: 30px;
        width: 30px;
      }

      ion-icon {
        color: color($colors, primary);
        height: 22px;
        width: 22px;
      }
    }
  }

  .global-illustration {
    text-align: center;
    padding: 0 20px;

    h2 {
      font-size: 17px;
      margin-top: 20px;
      color: rgb(45, 60, 80);
    }

    p {
      font-size: 13px;
      color: rgba(45, 60, 80, 0.6);
    }

    img {
      margin: 20px auto;
      width: 75%;
      max-width: 300px;
      
    }
  }
}

view-send,
view-send-select-bind-contact {
  .content {
    //height: 100%;
    .no-results {
      height: 100%;
      text-align: center;
      flex-direction: column;
      font-size: 17px;
      color: #9da6b7;

      .send-button {
        padding: 0;
        text-align: center;
        max-width: 244px;
        width: 100%;
        height: 42px;
        margin: 8px auto;
        box-shadow: none;
        font-size: 15px;
        border-radius: 4px;


        &.button-md-light {
          color: #293d52;
        }
      }

      .address {
        font-size: 11px;
      }
    }
  }

  .item-divider,
  .item-inner,
  ion-item {
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .item-divider {
    height: 40px;
    min-height: 40px;
  }

  ion-avatar {
    text-align: center;
    color: color($colors, primary);
    display: inline-block;
    line-height: 40px;
    letter-spacing: -2px;
  }

  contact .item-label {
    text-transform: capitalize;
  }

  ion-item:after {
    display: none;
  }

  .loader {
    text-align: center;

    ion-spinner {
      height: 100px;
    }
  }

  .unlock-screen {
    text-align: center;
    overflow-y: hidden;
    height: calc(100% - 60px);

    .unlock-backdrop {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgb(244, 247, 250);
      opacity: 0.7;
      z-index: 1000;
    }

    .unlock-popup {
      height: 204px;
      width: 284px;
      position: absolute;
      z-index: 1001;
      top: calc(50% - 40px);
      left: 50%;
      margin-top: -102px;
      margin-left: -142px;
      background: white;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
      text-align: center;
      border-radius: 10px;

      .top-label {
        font-size: 13px;
        color: rgb(115, 129, 155);
        margin: 25px 0;
      }

      img {
        height: 48px;
        width: 38px;
      }

      h2 {
        font-size: 17px;
        color: rgb(41, 61, 82);
        margin: 7px 0 0;
      }

      .bottom-label {
        font-size: 13px;
        color: rgb(115, 129, 155);
        margin: 25px auto;
        width: 210px;
        margin-top: 5px;
        line-height: 15px;
      }
    }

    ion-list {
      .contact-stub {
        p {
          width: 152px;
          background: rgba(92, 109, 128, 0.2);
          height: 12px;
          margin: 10px 0;
        }

        h2 {
          width: 86px;
          background: rgba(240, 243, 248, 1);
          height: 9px;
          margin: 10px 0;
        }
      }
    }
  }
}
