@import "~styles/v1/theme"
\:host
  .notification
    &__box
      height: 100%
      display: flex
      align-content: center
      align-items: center
    &__button
      border: 0
      background: transparent
      height: 22pt
      position: relative
      img
        width: 20pt
        height: 22pt
    &__indicator
      position: absolute
      width: 5pt
      height: 5pt
      background: $blue
      border-radius: 5pt
      right: 2pt
      top: 0pt
