# Node
node_modules/

# Blockchain
data-and-logs/data-1/*
data-and-logs/data-2/*
data-and-logs/data-3/*
!merit.conf
hosts.json
bitcore-node/devnode/
insight-ui/public/*
package-lock.json

# Yarn
.yarnclean*
yarn-error.log*
yarn-debug.log*

# Idea
.idea

# Lerna
lerna-debug.log

# VS Code
.vscode

# Merit Daemon
packages/bitcore-node/bin/meritd

# Dot Env
.env
/packages/lightwallet/mobile/src/environments/environment.ts
/packages/lightwallet/mobile/src/environments/environment.dev.ts
/packages/lightwallet/mobile/src/environments/environment.prod.ts

# Node & packages
lerna-debug.log
node_modules/
package-lock.json
packages/bitcoin-rpc/
packages/bitcore-lib/bitcore-lib.js
packages/bitcore-lib/node_modules/
packages/bitcore-lib/package-lock.json
packages/bitcore-message/node_modules/
packages/bitcore-message/package-lock.json
packages/bitcore-mnemonic/node_modules/
packages/bitcore-mnemonic/package-lock.json
packages/bitcore-node/bin/meritd
packages/bitcore-node/node_modules/
packages/bitcore-node/package-lock.json
packages/bitcore-p2p/node_modules/
packages/bitcore-p2p/package-lock.json
packages/bitcore-payment-protocol/node_modules/
packages/bitcore-payment-protocol/package-lock.json
packages/bitcore-wallet-client/node_modules/
packages/bitcore-wallet-client/package-lock.json
packages/bitcore-wallet-service/node_modules/
packages/bitcore-wallet-service/package-lock.json
packages/insight-api/node_modules/
packages/insight-api/package-lock.json
packages/insight-ui/node_modules/
packages/insight-ui/package-lock.json
packages/merit-rpc/node_modules/
packages/merit-rpc/package-lock.json
