# Node
node_modules/

# Blockchain
data-and-logs/data-1/*
data-and-logs/data-2/*
data-and-logs/data-3/*
!merit.conf
hosts.json
bitcore-node/devnode/
insight-ui/public/*
package-lock.json

# Yarn
.yarnclean*
yarn-error.log*
yarn-debug.log*

# Idea
.idea

# Lerna
lerna-debug.log

# VS Code
.vscode

# Merit Daemon
packages/bitcore-node/bin/meritd

# Dot Env
.env
/packages/lightwallet/common/environments/environment.ts
/packages/lightwallet/common/environments/environment.dev.ts

# Node & packages
lerna-debug.log
node_modules/
package-lock.json

# Ionic packages
packages/lightwallet/platforms/
packages/lightwallet/www/

# Deployment Experiments
desktop.dist.tar.gz
dist.tar.gz
mobile.dist.tar.gz

# Firebase
.firebase
