.wallets
  padding: 50px 40px 30px
  &__group
    padding-bottom: 30px
    &__header
      display: flex
      justify-content: space-between
      margin-bottom: 30px
      &__title
        color: $gun-metal
    &__wallet
      display: flex
      flex-flow: row wrap
      justify-content: space-between
      align-items: center
      padding: 20px
      background: $white
      margin-bottom: 10px
      border-radius: 5px
      box-shadow: 0 2px 4px rgba(46,51,88, .22)
      cursor: pointer
      user-select: none
      position: relative
      +transition(.3s, linear)
      opacity: .7
      &__edit
        opacity: 0
        transform: translateX(-10px)
        +transition(.3s, linear)
      &__icon
        width: 40px
        height: 40px
        display: flex
        justify-content: center
        align-items: center
        margin-right: 20px
        img
          width: 100%
      &__info
        letter-spacing: .3px
        display: flex
        flex-flow: row wrap
        .large-black-text
          +font($baseFont--medium, 15px, 22px, $gun-metal, normal, none, none)
        .regular-blue-text
          +font($baseFont--medium, 14px, 24px, $blue, normal, none, none)
      &:hover
        opacity: 1
        .wallets__group__wallet__edit
          opacity: 1
          transform: translateX(0)
.wallet-detail
  &__header
    &__wrap
      display: flex
      justify-content: flex-start
      align-items: center
      padding: 40px
    &__amount
      display: flex
      justify-content: flex-start
      align-items: center
      +font($baseFont--heavy, 32px, 32px, $white, normal, none, none)
      padding-right: 40px
      small
        font-family: $baseFont--semibold
      &__name
        font-family: $baseFont--semibold
        padding: 0px 20px
        border-right: 2px solid rgba(255,255,255, .2)
        margin-right: 20px
      &__balance
        font-size: 20px
    &__navigation
      &__button
        text-transform: uppercase
        font-family: $baseFont--semibold
        margin: 0 5px
  &__content
    padding: 40px
    &__navigation
      margin-bottom: 60px
      ul
        display: flex
        justify-content: flex-start
        margin-left: -20px
        li
          padding: 10px 20px
          border-right: 2px solid $pale-grey-two
          &:last-of-type
            border: 0px
          a
            +font($baseFont--regular, 20px, 20px, $gun-metal, normal, none, none)
            +transition(.3s, linear)
            &::after
              content: ""
              display: block
              width: 100%
              height: 2px
              background: $blue
              transform: scaleX(0)
              +transition(.3s, linear)
            &.active,
            &:hover
              color: $blue
              &::after
                transform: scaleX(1)
    &__title
      +font($baseFont--heavy, 28px, 32px, $blue, normal, none, none)
      margin-bottom: 40px
