@import '~styles/v1/common/import-sass'

\:host
  width: 100%
  .wallet-setup_column
    width: calc(50% - 40px)
    .title
      margin-bottom: 20px
  .readiness
    display: flex
    align-items: flex-end
    +font(600, 50px, 50px, $blue)
    margin-bottom: 30px
    merit-icon
      width: 150px
      height: 125px
      margin-right: 40px
      background: linear-gradient(to right, $blue 50%,$slate-grey 50%);