view-edit-wallet {
  ion-input.input input.text-input {
    font-weight: 500;
  }

  button[ion-item].item.delete-wallet {
    ion-label.label h2 {
      color: #e8523b;
      font-size: 15px;
      font-weight: 500;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
