@import '~styles/v1/common/import-sass'

\:host
  top: 0
  display: block
  width: 100vw
  height: 65px
  background: $saffron
  text-align: center
  padding: 0 20px
  +font(500, 14px, 18px, $white)
  position: relative
  z-index: 1
  strong
    font-weight: 900
.wrap
  padding: 5px 20px
  display: flex
  justify-content: center
  align-items: center
  merit-icon
    width: 20px
    margin: 0 15px
