@import '~styles/v1/common/import-sass'

\:host
  top: 0px
  display: block
  width: 100vw
  background: $saffron
  text-align: center
  z-index: 200
  padding: 0px 20px
  +font(500, 14px, 18px, $white)
  strong
    font-weight: 900
.wrap
  padding: 5px 20px
  display: flex
  justify-content: center
  align-items: center
  merit-icon
    width: 20px
    margin-right: 10px