@import '~variables.scss';

app-toolbar {
  width: calc(100% - 80px);
  height: 80px;
  background: white;
  box-shadow: 0 1px 4px rgba(46, 53, 59, 0.05);
  display: flex;
  flex-direction: row;
  align-items: center;

  > div {
    display: inline-block;
  }

  > .right {
    margin-left: auto;
  }

  button {
    border-radius: 4px;
  }

  .currency-selector {
    margin-right: 20px;
  }

  .total-balance {
    .merit-amount {
      font-weight: 500;
      color: $merit-primary-color;
      font-size: 15px;
      letter-spacing: .3px;
    }

    .fiat-amount {
      letter-spacing: .3px;;
      color: $merit-secondary-color;
      font-size: 14px;
      line-height: 24px;
    }
  }

  .divider {
    width: 1px;
    height: 36px;
    background: rgba(136, 142, 162, 0.2);
    margin: 0 20px;
  }
}
