@import "~styles/v1/theme"
.backup
  padding: 50px 40px
  &__title
    margin-bottom: 10px
  &__caption
    +font($baseFont--regular, 15px, 22px, $gun-metal, none, none, none)
  &__back-navogator
    margin-bottom: 20px
    cursor: pointer
  &__mnemonic
    padding-top: 30px
  &__header
    display: flex
    justify-content: space-between
    max-width: 900px
    width: 100%
