@import "~styles/v1/common/variables"
@import "~styles/v1/common/mixins"

.mnemonic-container
  background: $white
  box-shadow: 0 2px 4px rgba(46,51,88,0.22)
  padding: 35px 55px
  p
    +font-old-minix($baseFont--regular, 35px, 45px, $gun-metal, normal, none, none)
    letter-spacing: -.47px
    text-align: center
    word-spacing: 20px
    display: inline-block
    max-width: 750px
    width: 100%
    margin: 0 auto
