view-edit-contact {

  ion-item.item.address-item {
    .item-inner {
      padding-right: 0;
    }
    button {
      vertical-align: middle;
    }
  }

  .add-button {
    padding: 0;
    margin: 0;
    vertical-align: middle;
    display: inline-block;
    margin-right: 2px;
    height: 18px;
  }

  .delete-button .text {
    color: color($colors, danger);
  }

}
