@import '~styles/v1/common/import-sass'
\:host
  position: relative
  cursor: pointer
  display: inline-block
  &.checked
    .switcher
      background: $blue
      &:after
        left: 14px
.switcher
  position: relative
  z-index: 1
  display: inline-block
  height: 14px
  width: 34px
  border-radius: 500rem
  background: #e9edf2
  border: 1px solid #b7bcc8
  +transition(.15s)
  &::after
    content: ""
    display: block
    position: absolute
    width: 18px
    height: 18px
    border-radius: 25px
    background: white
    border: 1px solid #b7bcc8
    left: -1px
    top: -4px
    +transition(.15s)
