send-confirm-view {
  .fee-rate, .recipient-label {
    margin-right: 0.3em;
  }

  ion-card {
    div {
      font-size: 13px;
      padding: 4px 16px;

      &.title {
        font-weight: bold;
        padding-top: 16px;
      }
      &.title:first-of-type {
        padding-top: 0px;
      }
    }


    .wallet-icon {
      height: 20px !important;
      line-height: 15px !important;
      width: 25px;
      display: inline-block;
      text-align: center;
      img {
        height: 20px !important;
        width: 20px;
        display: inline-block;
        vertical-align: middle;
      }
    }

  }
}
