<ion-view id="complete" hide-tabs>
  <ion-nav-bar class="bar-royal">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-title>{{title}}</ion-nav-title>
    <ion-nav-buttons side="secondary">
      <button ng-show="!fromSettings" class="button no-border" ng-click="close()" translate>
        Finish
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content scroll="false">
    <div class="complete-layout">
      <div class="complete-layout__expand" ng-class="{'fade-in': !animate || socialsharing}">
        <div ng-show="!fromSettings">
          <div class="feedback-title" translate>Thank you!</div>
          <div class="subtitle" ng-show="!skipped" translate>A member of the team will review your feedback as soon as possible.</div>
          <div ng-if="score <= 3 || !socialsharing">
            <div class="subtitle" translate>If you have additional feedback, please let us know by tapping the "Send feedback" option in the Settings tab.</div>
            <img src="img/illustration-send-feedback.png" class="send-feedback-illustration"/>
          </div>
          <div class="subtitle" ng-if="score > 3 && socialsharing" translate>Share the love by inviting your friends.</div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
