@import "~styles/v1/theme"
.backup
  padding: 50px 40px
  &__title
    margin-bottom: 20px
  &__navigator
    display: flex
    flex-flow: row wrap
    justify-content: space-between
    align-items: center
    &__item
      width: calc(100% / 3 - 30px)
      background: $white
      border-radius: 5px
      box-shadow: 0 2px 4px rgba(46,51,88, 0.22)
      text-align: center
      padding: 50px 20px 40px
      cursor: pointer
      &__icon
        margin-bottom: 20px
      &__title
        +font($baseFont--semibold, 17px, 17px, $dark-grey-blue, normal, none, none)
        margin-bottom: 30px
      &__caption
        +font($baseFont--regular, 14px, 14px, $dark-grey-blue, normal, none, none)
