.ios view-send-confirmation {
  ion-footer.footer slide-to-action {
    height: calc(80px + const(safe-area-inset-bottom));
    height: calc(80px + env(safe-area-inset-bottom));

    .container {
      padding-bottom: const(safe-area-inset-bottom);
      padding-bottom: env(safe-area-inset-bottom);
    }
  }
}

view-send-confirmation {
  .big-header {
    background:  #69b0dd !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .text-input[disabled] {
    opacity: 1;
  }
}
