view-edit-contact {

  .address-item {

    .item-inner {
      padding-right: 0 !important;
    }
    button {
      vertical-align: middle;
      margin-right: 0 !important;
      background: transparent !important;
    }

  }

}
