.md view-send, .md view-send-select-bind-contact {
  .searchbar-wrapper {
    position: relative;
    ion-searchbar input::-webkit-input-placeholder{
        color: #999;
        font-size: 14px;
    }

    .searchbar-qr-icon {
      background: transparent;
      position: absolute;
      right: 21px;
      top: 0px;
      padding: 0;
      background-position: center;
      background-repeat: no-repeat;
      width: 22px;
      height: 100%;
      background-size: 22px;
    }
  }


  .content {
    height: 100%;
    .no-results {
      height: 100%;
      text-align: center;
      flex-direction: column;
      font-size: 17px;
      color: #9da6b7;
      .send-button {
        padding: 0;
        text-align: center;
        width: 244px;
        height: 42px;
        margin: 8px auto;
        box-shadow: none;
        font-size: 15px;
        &.button-md-light {
          color: #293d52;
        }
      }

      .address {
        font-size: 11px;
      }
    }
  }

  ion-item, .item-divider {
    border: none;
  }

  ion-avatar {
    text-align: center;
    color: color($colors, primary);
    display: inline-block;
    line-height: 40px;
    letter-spacing: -1px;
  }

  contact .item-label {
    text-transform: capitalize;
  }


}