@import "../../vaults";
@import "../../../transact/send/send-module";

vault-spend-confirm-view {
  @extend %send-module;

  .fee-rate, .recipient-label {
    margin-right: 0.3em;
  }

  & ion-avatar.btn.whitelist-icon {
      background: #068cca;
      height: 25px;
      width: 32px;
      border-radius: 4px;
      padding: 0 4px;
      line-height: 25px;;
      text-align: center;
      margin: auto 5px;

      & ion-icon {
          color: white;
          font-size: 1.5em;
          line-height: 1.5em;
      }
  }
}
