view-pending-invites {
    ion-avatar {
        text-align: center;
        color: color($colors, primary);
        display: inline-block;
        line-height: 40px;
        letter-spacing: -2px;
        span {
            text-align: center;
            width: 38px;
        }
    }
}
