view-export-wallet {
  text-align: center;
  .wallet-icon {
    text-align: center;
    padding-top: 20px;
    display: block;
    img {
      height: 56px;
      width: 70px;
      display: inline-block;
      border-radius: 4px;
      box-shadow: none;
      padding: 4px 8px;
      vertical-align: middle;
    }
    &.default img {
      background: $wallet-default-color;
    }
  }

  qr-code {
    display: block;
  }

  h2 {
    text-align: center;
  }
  .tab-title {
    text-align: center;
    font-size: 1.2em;
  }
  .key {
    word-wrap: normal;
    white-space: normal;
    text-align: center;
    font-size: 2em;
    color: #000;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
  .description {
    text-align: center;
    word-wrap: normal;
  }
}
