#thatsIt
  width: 450px
  height: 450px
  margin-bottom: 50px
  background: #FFF
  border-radius: 100%
.floatCloud
  animation: floatCloud 25s infinite
  animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715)
@keyframes floatCloud
  0%
    transform: translateX(-89%)
  100%
    transform: translateX(100%)
.floatCloud-2
  animation: floatCloud-2 20s infinite
  animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715)
@keyframes floatCloud-2
  0%
    transform: translateX(100%)
  100%
    transform: translateX(-10%)
.jumpingCoin
  animation: jumpingCoin 5s infinite
  animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715)
.jumpingCoin-2
  animation: jumpingCoin 3s infinite
  animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715)
.jumpingCoin-3
  animation: jumpingCoin 6s infinite
  animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715)
.jumpingCoin-4
  animation: jumpingCoin 2s infinite
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1)
@keyframes jumpingCoin
  0%
    transform: translateY(0)
  50%
    transform: translateY(2%)
  100%
    transform: translateY(0%)
.blink
  animation: blink 20s infinite
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1)
.blink-1
  animation: blink 15s infinite
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1)
.blink-2
  animation: blink 10s infinite
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1)
@keyframes blink
  0%
    opacity: 1
  100%
    opacity: 0
