contact-avatar {
  ion-avatar {
    background: #e9edf2;
    border-radius: 500rem;
    span {
      color: rgb(95, 108, 130);
      text-align: center;
      min-width: 40px;
      min-height: 40px;
      display: block;
      line-height: 40px;
      font-weight: 500;
    }
  }
}
