.selectpool__dropdown
  & > li
    display: flex
    flex-direction: row

    .selectbox__dropdown__icon
      display: flex
      height: 18px
      max-width: 18px
      margin: auto 3px auto auto

    .selectbox__dropdown__icon-hover
      &:hover
        cursor: pointer

