.selectpool__dropdown
  & > li
    display: flex
    flex-direction: row

    .selectbox__dropdown__icon
      display: flex
      height: 20px
      max-width: 20px
      margin: auto auto

    .selectbox__dropdown__icon-hover
      &:hover
        cursor: pointer

