view-history
  history-list
    height: calc(100% - 110px)
    display: block
    width: calc(100% - 40px)

    virtual-scroll
      height: 100%

  merit-pagination:first-of-type
    margin-top: 0


