.wallet-details__content
  padding-bottom: 0

.wallet-details__content__navigation
  ul li a
    position: relative

    .badge
      font-size: 14px
      padding: 0 3px
      display: inline-block
      margin-left: 4px
