.wallet-details__content
  padding-bottom: 0

.wallet-details__content__navigation
  ul li a
    position: relative

    .badge
      position: absolute
      right: -35px
      top: 2px
      font-size: 14px
      padding: 0 3px
