view-send-via {

  contact .item-label {
    text-transform: capitalize;
  }

  .tooltip-button {
    vertical-align: middle;
    padding: 0;
    margin: 0;
    margin-left: -4px;
    height: 20px;
    ion-icon {
      font-size: 20px;
      color: #9ba6b9;
      font-weight: 600;
    }
  }

  ion-avatar {
    text-align: center;
    color: color($colors, primary);
    display: inline-block;
    line-height: 40px;
    letter-spacing: -1px;
    border-radius: 50%;
  }

  ion-item, .item-divider {
    border: none;
  }

  ion-item:not(:nth-last-child(1)):after {
    display: none;
  }

  .scroll-content {
    margin-top: 70px;
  }

  ion-item-divider p {
    font-weight: normal;
    font-size: 13px !important;
    color: #2d3c50;
  }

  .label.address-label {
    h2 {
      color: rgba(0, 0, 0, 0.7) !important;
      font-size: 16px !important;
      &.address {
        font-size: 12px !important;
      }
    }
  }

}
