tx-details-view {
  ion-header {
    background: #00a6d1;

    ion-navbar,
    .toolbar-background {
      background: transparent;
      border: none !important;
    }

    button[ion-button], .toolbar-title {
      color: white;
    }
  }

  .big-header {
    .status {
      .action {
        display: flex;
        margin-bottom: 20px;
        align-items: center;

        img, span {
          display: inline-block;
          flex-shrink: 1;
        }

        img {
          height: 20px;
        }

        span {
          line-height: 30px;
          font-size: 30px;
          font-weight: 300;
          margin-left: 20px;
        }
      }
    }
  }

  .amount-str {
    font-size: 30px;
    margin-bottom: .5rem;
  }
  .amount-alt-str {
    font-size: 16px;
    margin-left: 2px;
    margin-bottom: 1.5rem;
  }
}
