@import "onboarding-module";
view-onboarding {
  @extend %module-onboarding;

  //img {
  //  height: 5%;
  //  margin-top: 20%;
  //}
  img {
    height: 40%;
    margin: 20% auto;
    max-width: 75%;
  }
  .bottom-buttons {
    height: 60px !important;
    padding-top: 0 !important;
    button {
      margin: 0;
    }
  }
}
