view-onboarding {
  .container {
    img {
      // TODO adjust this when replacing logo img
      max-height: 126px;
      max-width: 75%;

      // keep aspect ratio
      height: auto;
    }
  }

  .bottom-buttons {
    height: 60px;
    padding-top: 0;

    button {
      margin: 0;
    }

    .restore-button {
      margin-top: 5px;
      height: 22px;
      > span {
        height: 22px;
        line-height: 22px;
        color: rgba(255,255,255,0.5);
      }
      button[ion-button].button {
        height: 22px;
        color: white;
      }
    }
  }
}
