view-onboarding {
  img {
    height: 40%;
    margin: 20% auto;
    max-width: 75%;
  }
  .bottom-buttons {
    height: 60px !important;
    padding-top: 0 !important;
    button {
      margin: 0;
    }
  }
}
