@import "~styles/v1/theme"
.receiveMerit
  padding: 50pt 40pt 0
  &__header
    color: $gun-metal
    margin-bottom: 30pt
  &__content
    display: flex
    flex-flow: row wrap
    padding-bottom: 105pt
  &__footer
    background: $white
    margin: 0 -40pt
    padding: 30pt 40px 40pt
    &__caption
      +font($baseFont--medium, 15pt, 22pt, $gun-metal, none, none, none)
      letter-spacing: .3pt
      margin-bottom: 20pt
  &__form,
  &__totals
    width: 50%
    box-sizing: border-box
  &__form
    padding-right: 40pt
  &__totals
    padding-right: 80pt
  .fee-label
    +font($baseFont--medium, 15pt, 15pt, $blue, uppercase, none, none)
    padding-left: 2pt
.receiveMerit__form__group
  margin-bottom: 30pt
  .ui-input
    margin-bottom: 5pt
.receiveMerit__totals__table
  background: $white url('/assets/v1/images/send_merit/merit-stamp.png') no-repeat 80% 100%
  padding: 30px
  box-sizing: border-box
  +font($baseFont--medium, 14pt, 24pt, $gun-metal, none, none, none)
  &__row
    display: flex
    justify-content: space-between
    margin-bottom: 10pt
    &--devider
      height: 1px
      width: 100%
      background: $pale-grey-two
      margin: 30pt 0
