view-import {

  ion-header.header {
    .toolbar-background {
      background: #e9edf2;
    }

    ion-toolbar.toolbar.toolbar-md {
      padding: 0;
      .toolbar-content {
        align-self: flex-end;
        ion-segment.segment {
          ion-segment-button.segment-button {
            letter-spacing: -0.31px;
            color: #9da6b7;

            &.segment-activated {
              color: #2d3c50;
            }
          }
        }
      }
    }

    &:after {
      display: none;
    }
  }

  input[type="file"] {
    visibility: hidden ;
  }

  button[ion-item].item, ion-item.item {
    ion-label.label h2 {
      font-weight: 500;
      font-size: 16px;
    }
  }

  button[ion-item][toggle-button].item {
    button[ion-button][item-end] {
      ion-icon.icon {
        width: 16px;
        height: 16px;
      }
    }
  }

  button[ion-button].button.action-button {
    width: calc(100% - 16px - 14px);
    margin-left: 16px;
    border-radius: 4px;
    height: 44px;
  }

}
