.merit-modal.unlock-request-modal {
  .modal-wrapper {
    height: 420px;
    max-height: 420px;
  }
}

modal-incoming-unlock-request {
  * {
    text-align: center;
  }

  span {
    display: block;
  }

  .date {
    font-size: 13px;
    color: rgb(115, 129, 155);
    margin-top: 24px;
  }

  ion-avatar[img-icon] {
    display: block;
    float: none;
    margin: auto;
    margin-top: 24px;
    height: 80px;
    width: 80px;
  }

  .wallet-name {
    margin-top: 25px;
    color: rgb(45, 60, 80);
    font-size: 17px;
    letter-spacing: -.5px;
    font-weight: 500;
  }

  .status {
    &.pending {
      color: rgb(255, 160, 0);
    }

    &.accepted {
      color: rgb(0, 150, 136);
    }

    letter-spacing: -.2px;
    font-size: 17px;
  }

  ion-content.content-ios .scroll-content {
    height: calc(100% - 46px);
  }

  .scroll-content {
    position: relative;
    height: calc(100% - 56px);
    overflow: hidden;

    ion-list.list {
      position: absolute;
      width: 100%;
      bottom: 0;
      margin: 0;

      button[ion-item].item {
        padding: 0;
        height: 54px;
        max-height: 54px;
        border-top: 1px solid rgb(232, 234, 237);

        .item-inner {
          border-bottom: none;
        }

        ion-label.label {
          color: rgb(0, 176, 221);
          font-size: 13px;
          font-weight: 600;
          text-transform: uppercase;
        }
      }
    }
  }
}
