@import "~styles/v1/common/import-sass"
\:host
  color: $white
.guide
  padding: 60px 40px 0
  &_title
    text-align: right
    span
      opacity: .8
      &.link
        opacity: 1
        padding-left: 10px
        cursor: pointer
        &:hover
          text-decoration: underline
