view-leaderboard {
  .own-wallet, .own-wallet ion-label {
    color: color($colors, primary) !important;
    .value {
      font-size: 12px;
      opacity: 0.8;
    }
  }

  .row {
    b {
      margin-right: 5px;
    }
    .value {
      font-size: 12px;
    }
  }

  .title {
    ion-item, .item-inner, ion-label {
      background: color($colors, primary);
      color: white;
      margin: 0;
      padding-top: 0px;
      padding-bottom: 0;
      div[item-end] {
        font-size: 13px;
        font-weight: 600;
      }
    }
  }

  .loading {
    margin-top: 100px;
    text-align: center;
    font-size: 17px;
    color: #9da6b7;
  }

  .row:not(.own-wallet) .value {
      color: rgba(0,0,0,0.7);
  }
}