transaction-history {
  ion-list.list {

    // transaction action specific styles
    button[ion-item].item {
      &.unlock {
        ion-note .unlock-request-status {
          font-size: 17px;
          &.pending {
            color: rgb(255, 160, 0);
          }

          &.accepted {
            color: rgb(0, 150, 136);
          }

          &.declined {
            color: rgb(208, 2, 27);
          }
        }
      }
    }

    .icon {
      margin-top: -2px;
      font-size: 15px;
      vertical-align: top;
    }

    .cancelled {
      font-size: 10px;
      color: color($colors, danger);
      vertical-align: top;
    }

    .arrow {
       color: #999;
    }

    button[ion-item].item {
      // *** iOS ***
      ion-label.label.label-ios {
        h2 {
          margin: 0;
        }
        p {
          padding-top: 9px;
        }
      }

      ion-label.label {
        h2 {
          //font-weight: 600;
        }
        p {
          color: #73819b;
          font-size: 13px;
          font-weight: 400;
        }
      }

      // *** iOS ***
      ion-note[item-end].note.note-ios {
        .merit-amount {
          font-weight: 400;
        }
      }

      ion-note[item-end].note {
        text-align: right;
        > span {
          display: block;
        }

        .merit-amount {
          &:before {
            content: '-';
            margin-right: -3px;
          }

          font-size: 17px;
          color: #2d3c50;
          font-weight: 500;
          &.credit {
            &:before {
              content: '+';
            }
            color: #009688;
          }
        }

        .fiat-amount {
          font-size: 13px;
          color: #73819b;
        }
      }
    }
  }
}
