.showHidden
  animation-duration: .2s
  animation-fill-mode: both
  &--animated, &.animated
    animation-name: fadeInUp
@keyframes fadeInUp
  from
    opacity: 0
    transform: translate3d(0, 5%, 0)
  to
    opacity: 1
    transform: translate3d(0, 0, 0)
