@import "~assets/v1/fonts/sfui/fonts.css"

$baseFont: 'Conv_SFUIDisplay', sans-serif
// INFO
// regular font-weight: 300
// medium font-weight: 400
// semibold font-weight: 500
// bold font-bold: 700
// heavy font-heavy: 900
// INFO

$white: rgb(255,255,255)

$blue: rgb(0,176,221)

$grey: #f6f7fa
$slate-grey: rgb(85,91,112)
$pale-grey: rgb(235,237,241)
$blue-grey: rgb(160,180,205)
$cool-grey: rgb(172,173,188)
$dark-grey-blue: rgb(46,51,88)
$pale-grey-two: rgb(229,230,237)
$pale-grey-four: rgb(233,237,242)
$pale-grey-three: rgb(240,243,248)
$light-blue-grey: rgb(205,215,228)

$light-sea-green: rgb(141,241,155)
$light-green-blue: rgb(101,253,173)
$dark-green: #1d9020

$dark: rgb(44,49,65)
$steel: rgb(136,142,162)
$gun-metal: rgb(72,77,94)
$steel-two: rgb(115,129,155)

$lavender: rgb(176,172,244)
$rose-pink: rgb(241,141,173)
$yellow: rgb(255, 195, 14)

$red: #6f0101
$danger: #ff524a


$input-text-color: $gun-metal
$blue-button-bg: $blue
$blue-button-bg-hover: rgba(0,176,221, .7)
$dashboard-bg: $grey
$dashboard-aside-bg: $dark
$dashboard-aside-width: 260px
$toolbar-height: 70px
$title-color: $gun-metal
