@import '~styles/v1/common/import-sass'

\:host
  +display(inline-flex)
  justify-content: space-between
  flex-flow: row wrap
  width: 100%
  margin-bottom: 20px

button.method
  width: 48%
  border: 1px solid #dbdbdc
  border-radius: $base-border-radius
  text-align: center
  padding: 20px
  display: flex
  align-items: center
  justify-content: flex-start
  flex-direction: column
  background: rgb(247, 247, 247)
  cursor: pointer
  transition: all .2s cubic-bezier(0.445, 0.05, 0.55, 0.95)

  &:hover
    background: rgb(243, 243, 243)

  &.active
    background: $blue
    box-shadow: 0 2px 8px -2px rgba(0,0,0, .22)
    border: 1px solid $blue
    *, .title
      color: $white

  .title
    font-size: 16px
    font-weight: 600
    color: $blue
    margin-bottom: 5px
  .description
    font-size: 13px
    line-height: 16px
    font-weight: 300
