.ui-button
  display: inline-block
  border: none
  +font($baseFont--medium, 15pt, 15pt, initial, none, none, none)
  padding: 12pt 45pt
  border-radius: 4pt
  +transition(.3s, linear)
  &--blue
    background: $blue-button-bg
    color: $white
    &:hover
      background: $blue-button-bg-hover
  &--with-arrow
    &:after
      content: "→"
      display: inline-block
      font-weight: 900
      margin-left: 16pt
      +transition(.1s, linear)
    &:hover
      &:after
        transform: translateX(2pt)
.ui-button
  &--sm
    font-family: $baseFont--heavy
    +chageFontSize(14pt, 14pt)
    padding: 10pt 18pt
    letter-spacing: .3pt
