.ico
  display: inline-block
  mask-size: contain
  mask-position: 50% 50%
  mask-repeat: no-repeat
  width: 15px
  height: 15px
  &--coins
    mask-image: url('/assets/v1/icons/ui/coins.svg')
  &--ivites
    mask-image: url('/assets/v1/icons/invite.svg')
  &--check
    mask-image: url('/assets/v1/icons/check.svg')
  &--wallet
    mask-image: url('/assets/v1/icons/ui/unlock/wallet.svg')
  &--lock
    mask-image: url('/assets/v1/icons/ui/unlock/lock.svg')
  &--invite
    mask-image: url('/assets/v1/icons/ui/unlock/invite.svg')
  &--clock
    mask-image: url('/assets/v1/icons/ui/unlock/clock.svg')
  &--remind
    mask-image: url('/assets/v1/icons/ui/unlock/remind.svg')
  &--protected
    mask-image: url('/assets/v1/icons/ui/unlock/protected.svg')
  &--attention
    mask-image: url('/assets/v1/icons/ui/unlock/attention.svg')
  &--list
    mask-image: url('/assets/v1/icons/ui/unlock/list.svg')
