.ico
  display: inline-block
  mask-size: contain
  mask-position: 50% 50%
  mask-repeat: no-repeat
  width: 15px
  height: 15px
  &--coins
    mask-image: url('/assets/v1/icons/ui/coins.svg')
  &--ivites
    mask-image: url('/assets/v1/icons/invite.svg')
  &--check
    mask-image: url('/assets/v1/icons/check.svg')
  &--pool
    mask-image: url('/assets/v1/icons/pool.svg')
  &--desktop
    mask-image: url('/assets/v1/icons/desktop.svg')
  &--mobile
    mask-image: url('/assets/v1/icons/mobile.svg')
  &--web
    mask-image: url('/assets/v1/icons/web.svg')
  &--discord
    mask-image: url('/assets/v1/icons/discord.svg')
  &--telegram
    mask-image: url('/assets/v1/icons/telegram.svg')
  &--forum
    mask-image: url('/assets/v1/icons/forum.svg')
