.ui-input
  display: block
  width: 100%
  box-sizing: border-box
  background: $pale-grey
  border-radius: 5px
  +font($baseFont--medium, 14px, 14px, $input-text-color, normal, none, none)
  letter-spacing: .3px
  border: 1px solid transparent
  margin-bottom: 30px
  border: 1px solid transparent
  +transition(.3, linear)
  &:focus
    border-color: $blue
  &--text
    padding: 15px 16px
    border: 1px solid $light-blue-grey
    resize: none
  &--form
    background: $white
  &--select
    text-align: left
    padding: 15px 16px 14.76px
    position: relative
    border: 1px solid $light-blue-grey
    &::after
      content: ""
      display: inline-block
      margin-left: 4px
      transform: rotate(45deg)
      width: 4px
      height: 4px
      border: 2px solid $input-text-color
      border-left: 0
      border-top: 0
      position: absolute
      top: calc(50% - 3px)
      right: 16px
    & ~ .selectbox__dropdown .selectbox__dropdown__item
      text-align: left
.ui-input
  &__wrapper
    position: relative
    input
      z-index: 1
    &--mrt
      +font($baseFont--regular, 14px, 24px, $gun-metal, uppercase, none, none)
      letter-spacing: .3px
    &--currency
      .ui-input__addon
        top: 8px
        right: 8px
  &__addon
    position: absolute
    right: 16px
    top: 11px
.ui-checkbox
  position: relative
  input
    position: absolute
    z-index: 2
    width: 100%
    height: 30px
    cursor: pointer
    opacity: 0
    &:checked ~ .ui-checkbox__switcher
      &::after
        left: 22px
        background: $blue
  &__switcher
    position: relative
    z-index: 1
    display: inline-block
    height: 11px
    width: 45px
    border-radius: 50px
    background: $white
    border: 1px solid $light-blue-grey
    &::after
      content: ""
      display: block
      position: absolute
      width: 22px
      height: 22px
      border-radius: 25px
      background: $light-blue-grey
      left: -1px
      top: -7px
      box-shadow: 1px 1px 2px rgba(0,0,0, .4)
      +transition(.1s, ease-out)
