.ui-label
  text-align: left
  display: flex
  align-items: center
  align-content: center
  width: 100%
  margin-bottom: 13pt
  +font($baseFont--medium, 15pt, 18pt, initial, none, none, none)
  .ui-tooltip
    margin-left: 10pt