.ui-label
  text-align: left
  display: flex
  align-items: center
  align-content: center
  width: 100%
  margin-bottom: 13px
  +font-old-minix($baseFont--medium, 17px, 18px, initial)
  &--muted
    opacity: .7
  .ui-tooltip
    margin-left: 10px
