@import "~styles/v1/theme"
.history
  &__item
    display: flex
    flex-flow: row wrap
    justify-content: space-between
    text-align: left
    align-items: center
    border-bottom: 1px solid $pale-grey-two
    padding-bottom: 15px
    margin-bottom: 15px
    position: relative
    +transition(.3s, linear)
    &:hover
      cursor: pointer
    &__icon
      background: $pale-grey
      width: 60px
      height: 60px
      display: flex
      justify-content: center
      align-items: center
    &__info
      width: calc(100% - 80px)
      display: flex
      justify-content: space-between
      align-items: center
      letter-spacing: .3px
      &__title
        +font($baseFont--medium, 15px, 22px, $gun-metal, normal, none, none)
        margin-bottom: 5px
      &__date
        +font($baseFont--medium, 12px, 16px, $blue-grey, normal, none, none)
      &__amount
        +font($baseFont--regular, 14px, 24px, initial, normal, none, none)
        &--plus
          color: $blue
        &--minus
          color: $gun-metal
    &__details
      background: $pale-grey
      width: 100%
      top: 100%
      left: 0
      z-index: 2
      max-height: 0px
      transition: max-height .3s linear
      overflow: hidden
      box-sizing: border-box
      position: relative
      &::after,
      &::before
        content: ""
        display: block
        right: 20px
        top: 20px
        position: absolute
        width: 10px
        height: 1px
        background: $gun-metal
      &::after
        transform: rotate(45deg)
      &::before
        transform: rotate(-45deg)
      &__wrap
        padding: 30px 0 20px
      &__row
        cursor: default
        width: 100%
        display: flex
        justify-content: space-between
        padding: 10px 20px 0px
        font-family: $baseFont--medium
        color: $blue-grey
        .source
          color: $blue
        .success
          color: $dark-green
          &::before
            display: inline-block
            position: relative
            margin-right: 5px
            top: 1px
            content: ""
            width: 15px
            height: 15px
            background: url('/assets/v1/icons/ui/history/success.svg') no-repeat 0 0
      &--show
        max-height: 200px
        transition: max-height .2s easy-out
