@import '~styles/v1/common/variables'
.invites
  display: block
  padding: 20px 40px
  &__title
    margin-bottom: 20px
  &__list
    padding-top: 20px
    &__item__counter
      color: $blue
      font-weight: 700
