@import '~styles/v1/common/import-sass'

view-onboarding-root
  display: block
  background: $gun-metal
  width: 100%
  height: 100%

  // override import page styling
  .import__title,
  .ui-label
    color: $white

  view-import-wallet,
  view-import-with-file,
  view-phrase-import
    .container--inner
      float: none
      margin: auto
      text-align: center
    .backup__navigator
      align-content: center
    .title--primary
      color: white
    .import_form
      margin: 0px auto
      text-align: center
    .import
      margin: 0px auto
      height: 100vh
      display: flex
      justify-content: center
      box-sizing: border-box
      flex-direction: column
      .backup__navigator,
      .import__title
        justify-content: center !important
      .backup__navigator__item
        +transition(.2s)
        opacity: 0.9
        &:hover
          opacity: 1
