@import '~styles/v1/common/variables'

view-onboarding-root
  display: block
  background: $gun-metal
  width: 100%
  height: 100%

  view-import-wallet
    .container--inner
      float: none
      margin: auto
      text-align: center

    .backup__navigator
      align-content: center

    .title--primary
      color: white
