view-unlock {
  .bottom-buttons {
    .input-wrapper {
      input {
        padding-right: 56px;
      }
    }

    .qr-button.button {
      position: absolute;
      top: 0;
      right: 13px;
      height: 20px;
      min-height: 20px;
      width: 20px;
      padding: 0;
      border-radius: 0;

      img {
        height: 20px;
        width: 20px;
        vertical-align: middle;
      }
    }
  }

  #logo {
    height: 5%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
}
