view-unlock {

  h1.title {
    font-size: 36px;
    line-height: 38px;
    color: white;
    font-weight: 300;
  }

  p {
    font-size: 16px;
    color: rgba(255,255,255,.5);
  }

  .bottom-buttons {
    display: flex;
    flex-direction: row;
    background: #2d3c50;
    border-radius: 4px;
    height: 56px;
    min-height: 56px;
    max-height: 56px;
    padding: 8px;

    button[ion-button].button {
      width: 60px;
      height: 40px;
      box-shadow: none;
    }

    ion-input.input {
      display: block;
      flex: 1;
      height: 40px;
      min-height: 40px;
      box-shadow: none;
      border: none;
      background: transparent;

      input.text-input {
        color: white;
        font-size: 16px;

        &::placeholder {
          color: white;
          font-size: 16px;
        }
      }


      &.failed {
        background: color($colors, 'danger');

        input {
          color: white;
        }

        input::-webkit-input-placeholder {
          color: rgba(255, 255, 255, 0.4);
        }
      }

      .input-cover {
        display: none;
      }
    }
  }

  #logo {
    height: 5%;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .alias-item {
    position: relative;
    margin-bottom: 30px; 
    display: block;
    ion-item:after {
      display: none; 
    }
    p {
      font-size: 12px;
      text-align: left;
      color: color($colors, danger);
      display: block;
    }
    ion-spinner {
      height: 20px;
      width: 20px;
      bottom: 20px;
      right: 20px;
      position: absolute;
      z-index: 1000000;
    }
  }
}
