@import "../onboarding-module";
view-unlock {
  @extend %module-onboarding;

  ion-input.input {
    background: white;
    height: 40px;

    // give it border radius to match the button beside it
    &.input-md {
      border-radius: $button-md-border-radius;

      // also give it some shadow on Android
      box-shadow: 0 2px 3px rgba(0,0,0,0.35);
    }

    &.input-ios {
      border-radius: $button-ios-border-radius;
    }

    input {
      color: rgba(0,0,0,0.64);
    }

    input::-webkit-input-placeholder {
      color: rgba(0,0,0,0.4);
    }
  }

  .illustration.control {
    background:  url('../assets/img/onboarding/tour-control.png');
  }

  .bottom-buttons {
    display: flex;
    flex-direction: row;
  }

  input.failed {
    background: color($colors, 'danger');
    color: white;
  }

  #logo {
      height: 5%;
      margin-top: 10%;
      margin-bottom: 10%; 
  }


}
