view-import-scan {
  .scroll-content {
    display: flex;
    height: calc(100%);
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding: 0;

    .container {
      text-align: center;
      .icon {
        img {
          height: 80px;
          opacity: .3;
        }
      }
      padding-bottom: 40px;
      padding-top: 10px;
    }
  }
}
