view-create-vault-master-key {
    .title {
        text-align: center;
        font-size: 1.2em;
    }

    .key {
        word-wrap: normal;
        white-space: normal;
        text-align: center;
        font-size: 2em;
        color: #000;
        padding-top: 10vh;
        padding-bottom: 10vh;
    }

    .comment {
        word-wrap: normal;
        white-space: normal;
        text-align: center;
        padding-top: 2em;
        padding-bottom: 2em;
        color: #777;
    }
}