view-create-wallet {
  .scroll-content {
    background: #f6f8fa;
  }

  // TODO match other pages' style
  ion-item-group {
    background: white;
    &:not(:last-child) {
      margin-bottom: 12px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    &:not(:first-child) {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
  }

  ion-input.incorrect {
    background: color($colors, 'danger');
  }

  .warning {
    background: #e9edf2;
    border-radius: 8px;
    margin: 10px 16px;
    width: calc(100% - 16px - 16px);
    padding-left: 20px;
    ion-label {
      white-space: normal;
    }
  }

  .tooltip-button {
    vertical-align: middle;
    padding: 0;
    margin: 0;
    height: 20px;
    width: 20px;
    ion-icon {
      font-size: 20px;
      color: color($colors, primary);
      font-weight: 600;
    }
  }

  .error-message {
    color: color($colors, danger);
    padding: 0;
    margin: 0;
    height: 15px;
    line-height: 15px;
    padding-left: 15px;
  }

  .alias-item {
    position: relative;
    ion-item:after {
      display: none;
    }
    ion-spinner {
      height: 20px;
      width: 20px;
      top: 50px;
      right: 11px;
      position: absolute;
      z-index: 1000000;
    }
  }

  .address input {
    font-size: 14px;
  }

}
