\:host
  position: fixed
  height: 100%
  width: 100%
  top: 0
  left: 0
  z-index: 1000
  .ui-prompt
    width: 450px
    min-height: 180px
    padding: 20px
    border-radius: 4px
    display: block
    background: white
    position: fixed
    z-index: 1001
    top: calc(50% - 180px / 2)
    left: calc(50% - 450px / 2)
