<ion-view id="view-easysend" hide-tabs>
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>
      {{'Easy Send Placeholder' | translate}}
    </ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <!-- TODO: actually build this page. -->
  <ion-content scroll="false">
    <div ng-show="success">
      {{'you did it' | translate}}
    </div>
    <div class="list">
      <div class="card" ng-if="method == 'email'">
        <span translate>{{'Sending merit via email to ' + recipient}}</span>
      </div>
      <div class="card" ng-if="method == 'sms'">
        <span translate>{{'Sending merit via sms to ' + recipient}}</span>
      </div>
      <div class="card" ng-if="!success">
        <a class="item" ng-click="confirm()">
        <span translate>Confirm</span>
      </div>
      <div class="card" ng-if="success">
        <span translate>Transaction successfully created!</span>
      </div>

  </ion-content>
</ion-view>
