wallet-details-view {
  ion-header {
    background: #00a6d1;

    ion-navbar,
    .toolbar-background {
      background: transparent;
      border: none !important;
    }

    button[ion-button], .toolbar-title {
      color: white;
    }
  }

  .big-header {
    padding-top: 0;
    h2 {
      font-weight: 400;
    }

    .action-buttons {
      margin: 21px -18px -18px -18px;
      height: 85px;
      background: rgba(0,0,0,0.08);
      display: flex;
      flex-direction: row;

      > .button-cell {
        height: inherit;
        flex: 1;
        position: relative;

        &:first-child:after {
          content: '';
          height: 41px;
          width: 1px;
          display: block;
          position: absolute;
          right: 1px;
          top: 23px;
          background: rgba(255,255,255,.2);
        }

        button[ion-button].button {
          height: inherit;
          background: transparent;
          box-shadow: none;
          border: none;
          width: 100%;
          padding: 0;
          margin: 0;

          .button-inner {
            .inner-container {
              ion-icon {
                font-size: 1.9em;
                line-height: .67;
                padding: 0;
                pointer-events: none;
                display: block;
                margin-bottom: 12px;
              }

              span {
                font-size: 11px;
                letter-spacing: .13px;
              }
            }
          }
        }
      }
    }
  }

  ion-list.list {
    button[ion-item].item {
      ion-note.detail[item-end] {
        text-align: right;
        font-size: 13px;
        color: #73819b;
      }
    }
  }
}
