view-receive {

  .scroll-content {
    background: #d5dbe3;
    height: auto;
  }

  .address {
    margin: 10px 0;
    font-size: 12px;
  }

  .error {
    color: color($colors, danger);
  }

  .container {
    text-align: center;
    &:first-child {
      margin-top: 25px;
    }

    .spinner-wrapper {
      display: inline-block;
      height: 220px;
      line-height: 220px;
      text-align: center;
      width: 220px;
      ion-spinner {
        width: 50px;
        height: 50px;
        vertical-align: middle;
        * {
          width: 50px;
          height: 50px;
          margin: 0;
        }
      }
    }
  }

  ion-footer {
    padding: 0;
    &:before {
      display: none;
    }

    ion-toolbar.toolbar {
      padding: 0;
    }

    ion-input.input {
      input {
        border: none;
        margin: 0;
        font-size: 12px;
      }
    }

    ion-list.list {
      margin-bottom: 10px;

      .item:last-child:after {
        display: none;
      }
    }
  }

}

