@import "~styles/v1/theme"
.wallet-detail
  &__header
    &__wrap
      display: flex
      justify-content: flex-start
      align-items: center
      padding: 40px
    &__amount
      display: flex
      justify-content: flex-start
      align-items: center
      +font($baseFont--heavy, 32px, 32px, $white, normal, none, none)
      padding-right: 40px
      small
        font-family: $baseFont--semibold
      &__name
        font-family: $baseFont--semibold
        padding: 0px 20px
        border-right: 2px solid rgba(255,255,255, .2)
        margin-right: 20px
      &__balance
        font-size: 20px
    &__navigation
      &__button
        text-transform: uppercase
        font-family: $baseFont--semibold
        margin: 0 5px
  &__content
    padding: 40px
    &__navigation
      margin-bottom: 60px
      ul
        display: flex
        justify-content: flex-start
        margin-left: -20px
        li
          padding: 10px 20px
          border-right: 2px solid $pale-grey-two
          &:last-of-type
            border: 0px
          a
            +font($baseFont--regular, 20px, 20px, $gun-metal, normal, none, none)
            +transition(.3s, linear)
            &::after
              content: ""
              display: block
              width: 100%
              height: 2px
              background: $blue
              transform: scaleX(0)
              +transition(.3s, linear)
            &.active,
            &:hover
              color: $blue
              &::after
                transform: scaleX(1)
    &__title
      +font($baseFont--heavy, 28px, 32px, $blue, normal, none, none)
      margin-bottom: 40px
