@import "~styles/v1/common/variables"
.session-log
  &__filter
    display: flex
    flex-flow: row wrap
    justify-content: flex-start
    margin-bottom: 30px
    &__item
      text-align: center
      cursor: pointer
      margin-right: 20px
      &:last-of-type
        margin-right: 0
      &.active
        color: $blue
  &__window
    width: calc(100 - 40%)
    margin: 0 auto
    border: 1px solid $light-blue-grey
    box-sizing: border-box
    padding: 20px
    overflow-y: auto
    max-height: 500px
.global-settings__back
  display: flex
  align-items: center
  .global-settings__group__title
    margin-bottom: 0px
  img
    margin-right: 20px
