view-network {

  .send-invite-button {
    height: 40px;
    line-height: 40px;
    min-height: 40px;
    margin: 8px 8px 4px;
    width: calc(100% - 16px);
    border-radius: 4px;

    img {
      margin-left: 8px;
      height: 18px;
    }
  }

  .tell-people-button {
    height: 40px;
    line-height: 40px;
    min-height: 40px;
    margin: 8px 8px 4px;
    width: calc(100% - 16px);
    border-radius: 4px;
    background: #0c0d29;
    img {
      margin-left: 8px;
      height: 18px;
    }
  }

  ion-content.content > .scroll-content {
    background: #f6f8fa;

    ion-spinner.spinner {
      top: 40px;
      display: block;
      float: none;
      margin: auto;
    }
  }

  button[ion-button][item-end][icon-only] {
    width: 40px;
    ion-icon {
      width: 14px;
      height: 16px;
    }
  }

  .address {
    font-size: 12px !important;
  }

  ion-list.list {
    $border-color: transparentize(#d1d6dc, 0.5);
    border-bottom: 1px solid $border-color;
    border-top: 1px solid $border-color;

    margin-top: 8px;
    margin-bottom: 0px;

    position: relative;

    .details {
      color: transparentize(color($colors, primary), 0.2);
      font-size: 12px;
      font-weight: 600;
      ion-badge {
        height: 25px;
        line-height: 25px;
        padding: 0 5px;
        margin-left: 5px;
      }
    }


    .locked-info {
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 1000;
      .backdrop {
        height: 100%;
        width: 100%;
        background: white;
        opacity: .85;
      }
      .popup {
        height: 204px;
        width: 284px;
        position: absolute;
        z-index: 1001;
        top: calc(50% - 0px);
        left: 50%;
        margin-top: -102px;
        margin-left: -142px;
        background: white;
        box-shadow: 0px 1px 2px  rgba(0, 0, 0, 0.5);
        text-align: center;
        border-radius: 10px;
        padding: 25px 10px;
        img {
          height: 48px;
          width: 38px;
        }
        h2 {
          font-size: 17px;
          color: rgb(41, 61, 82);
          margin: 0;
          margin-top: 7px;
        }
        .bottom-label {
          font-size: 13px;
          color: rgb(115, 129, 155);;
          width: 210px;
          margin: 15px auto;
          line-height: 15px;
        }


        .address-line {
          color: rgb(115, 129, 155);
          display: flex;
          flex-direction: row;
          height: 20px;
          line-height: 20px;
          max-width: 250px;
          margin: 0 auto;
          button.button {
            display: inline-block;
            vertical-align: top;
            padding: 0;
            height: 17px;
            width: 17px;
            margin: 0;
            margin-left: 5px;
            outline: none;
            ion-icon {
              height: 17px;
            }
          }
          div {
            flex: 1;
            overflow: hidden;
            font-size: 11px;
          }

        }
      }
    }
  }

  ion-list.wallet {
    box-shadow: 0 0 1px 0 color($colors, primary);
    .wallet-title {
      min-height: 35px;
      height: 35px;
      line-height: 35px;
    }
  }


}
