@import "../send-module";
send-confirm-view {
  @extend %send-module;
  .fee-rate, .recipient-label {
    margin-right: 0.3em;
  }

  ion-card {
    div {
      font-size: 13px;
      padding: 4px 16px;

      &.title {
        font-weight: bold;
        padding-top: 16px;
      }
      &.title:first-of-type {
        padding-top: 0px;
      }
    }

  }
}
