@import '~styles/v1/common/import-sass'
\:host
  display: block

.title
    margin-bottom: 20px
.listWrap, .description
  padding-bottom: 30px
.description p
  font-size: 16px
  font-weight: 500
  color: $dark
  opacity: .8
  margin-bottom: 10px
  strong
    color: $blue
.notification-info
  margin-top: 0
  margin-bottom: 20px