#tab-network {
  .network {
    height: 100%;
    padding-bottom: 78px;
    overflow: auto;
  }
  .code {
    margin: 20px;
    text-align: center;
  }
  .code-title,
  .code-value {
    display: block;
  }
  .code-title {
    margin-bottom: 5px;
    font-size: 16px;
  }
  .code-value {
    font-size: 18px;
    color: #3AC1A5;
  }
  .actions {
    .item {
      padding-left: 70px;
      font-size: 14px;
      .bg {
        width: 36px;
        height: 36px;
        border-radius: 0;
        box-shadow: none;
      }
    }
  }
  .wallet-selector {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
