.ios view-vault {
  ion-header.header-ios {
    ion-title.title.title-ios {
      .toolbar-title.toolbar-title-ios {
        color: white;
      }
    }
  }

  .content-ios {
    .big-header {
      text-align: center;

      h2.amount {
        font-weight: 300;
        > small {
          font-size: inherit;
          font-weight: inherit;
        }
      }

      h3.detail-fiat {
        font-weight: 400;
        font-size: 17px;
      }
    }
  }
}

view-vault {

  ion-header.header {
    ion-title[smaller-title] .toolbar-title {
      font-size: 24px;
    }

    button[ion-button], .toolbar-title {
      color: white;
    }

    .toolbar-background {
      background: color($colors, primary);
    }
  }
  .big-header {
    background: color($colors, primary);
    padding-top: 0;
    min-height: 90px;
    h2 {
      font-weight: 400;
    }

    .amount-available {
      font-size: 17px;
      color: rgba(255, 255, 255, 0.74);
    }

    .action-buttons {
      margin: 21px -18px -18px -18px;
      height: 85px;
      background: rgba(0, 0, 0, 0.08);
      display: flex;
      flex-direction: row;

      > .button-cell {
        height: inherit;
        flex: 1;
        position: relative;

        &:first-child:after {
          content: '';
          height: 41px;
          width: 1px;
          display: block;
          position: absolute;
          right: 1px;
          top: 23px;
          background: rgba(255, 255, 255, .2);
        }

        button[ion-button].button {
          height: inherit;
          background: transparent;
          box-shadow: none;
          border: none;
          width: 100%;
          padding: 0;
          margin: 0;

          .button-inner {
            .inner-container {
              ion-icon {
                font-size: 1.9em;
                line-height: .67;
                padding: 0;
                pointer-events: none;
                display: block;
                margin-bottom: 12px;
              }

              span {
                font-size: 11px;
                letter-spacing: .13px;
              }
            }
          }
        }
      }
    }
  }

  ion-list.list {
    button[ion-item].item {
      ion-note.detail[item-end] {
        text-align: right;
        font-size: 13px;
        color: #73819b;
      }
      ion-icon {
        color: #73819b;
      }
    }
  }

  .transaction {
    ion-note {
      font-size: 14px;
      .stored {
        color: rgb(0, 150, 136);
      }
      .sent {
        color: #ea8496;
      }
    }
  }

}
