.ios view-vault ion-header.header-ios ion-title.title.title-ios .toolbar-title.toolbar-title-ios {
  color: white;
}



view-vault {

  ion-header .toolbar-background {
    background: #4bb0dd !important;
  }

  .content-ios {
    .big-header {
      text-align: center;

      h2.amount {
        font-weight: 300;
        > small {
          font-size: inherit;
          font-weight: inherit;
        }
      }

      h3.detail-fiat {
        font-weight: 400;
        font-size: 17px;
      }

      .action-buttons {
        margin: 30px -8px -8px -8px;
        border-radius: 8px;
        overflow: hidden;

        button[ion-button].button.button-ios {
          .button-inner {
            .inner-container {
              ion-icon {
                font-size: 1.6em;
              }

              span {
                font-size: 13px;
                letter-spacing: .2px;
                font-weight: 300;
              }
            }
          }
        }
      }
    }
  }

  ion-header.header {
    button[ion-button], .toolbar-title {
      color: white;
    }
  }
  .big-header {
    background: color($colors, primary);
    padding-top: 0;
    min-height: 90px;
    h2 {
      font-weight: 400;
    }

    .amount-available {
      font-size: 17px;
      color: rgba(255, 255, 255, 0.74);
    }
  }

  ion-list.list {
    button[ion-item].item {
      ion-note.detail[item-end] {
        text-align: right;
        font-size: 13px;
        color: #73819b;
      }
      ion-icon {
        color: #73819b;
      }
    }
  }
}
