view-send-create-contact {
  ion-header.header {
    .toolbar-background {
      background: #e9edf2;
    }

    ion-toolbar.toolbar.toolbar-md {
      padding: 0;
      .toolbar-content {
        align-self: flex-end;
        ion-segment.segment {
          ion-segment-button.segment-button {
            letter-spacing: -0.31px;
            color: #9da6b7;

            &.segment-activated {
              color: #2d3c50;
            }
          }
        }
      }
    }

    &:after {
      display: none;
    }
  }

  .alias-label {
    min-height: 20px;
    height: 20px;
    line-height: 20px;
    color: #73819b;
    font-size: 13px; 
    padding: 0;
    margin: 0;
    margin-top: -5px;
    margin-bottom: 15px; 
  }
  ion-input input {
    font-size: 15px !important;
  }
}
