@import "~styles/v1/common/import-sass"
\:host
  .backup__navigator
    width: calc(100% + 30px)
    margin-left: -15px
    justify-content: flex-start
    &__item
      margin: 0px 15px
      transform: translate3d(0,0,0)
