@import '~styles/v1/common/variables'
@import '~styles/v1/common/mixins'
\:host
  display: flex
  flex-flow: row wrap
  justify-content: space-between
  text-align: left
  align-items: center
  border-bottom: 1px solid $pale-grey-two
  padding-bottom: 15px
  margin-bottom: 15px
  position: relative

.icon
  background: $pale-grey
  min-width: 65px
  min-height: 65px
  display: flex
  flex-shrink: 1
  justify-content: center
  align-items: center
  img + img
    padding-left: 10px


.info
  display: flex
  justify-content: space-between
  align-items: center
  letter-spacing: .3px
  padding-left: 15px
  flex-grow: 1

  .globalSendURL
    max-width: 80%
    word-break: break-word

.title
  +font(400, 15px, 22px, $gun-metal)

.date
  +font(400, 12px, 16px, $blue-grey)

.merit-amount
  display: inline-block
  word-break: keep-all
  flex-shrink: 1
  +font(300, 14px, 24px, $gun-metal)
  &::before
    content: '-'
  &.credit
    color: $blue
    &::before
      content: '+'
  small
    font-size: 13px
    color: $cool-grey

button
  margin-top: 5px
