@import "~styles/v1/theme"
\:host
  &.active
    .history__item__details
      max-height: 200px
.history
  &__item
    display: flex
    flex-flow: row wrap
    justify-content: space-between
    text-align: left
    align-items: center
    border-bottom: 1px solid $pale-grey-two
    padding-bottom: 15px
    margin-bottom: 15px
    position: relative
    &:hover
      cursor: pointer
    &__icon
      background: $pale-grey
      width: 65px
      height: 65px
      display: flex
      justify-content: center
      align-items: center
    &__info
      width: calc(100% - 80px)
      display: flex
      justify-content: space-between
      align-items: center
      letter-spacing: .3px
      &__details
        text-align: right
      &__title
        +font($baseFont--medium, 15px, 22px, $gun-metal)
      &__date
        +font($baseFont--medium, 12px, 16px, $blue-grey)
      .merit-amount
        display: block
        +font($baseFont--regular, 14px, 24px, $gun-metal)
        &::before
          content: '-'
        &.credit
          color: $blue
          &::before
            content: "+"
        small
          font-size: 13px
          color: $cool-grey
      .fiat-amount
        +font($baseFont--regular, 14px, 16px, $blue-grey)
    &__details
      background: $pale-grey
      width: 100%
      top: 100%
      left: 0
      z-index: 2
      max-height: 0
      +transition(.3s, ease-out)
      overflow: hidden
      box-sizing: border-box
      position: relative
      &__wrap
        padding: 30px 0 20px
      &__row
        cursor: default
        width: 100%
        display: flex
        justify-content: space-between
        padding: 10px 20px 0
        font-family: $baseFont--medium
        color: $blue-grey
        .source
          color: $blue
        .status-container
          display: flex
          flex-direction: row
          align-items: center
          height: 25px
          > *
            display: inline-block
          .status-icon
            width: 20px
            height: 20px
            img
              height: inherit
              width: inherit
          .status
            margin-left: 5px
            .confirmations
              display: block
          &.confirmed
            .status
              color: green
.info-box
  display: block
  background: white
  margin: 16px 10px -8px 10px
  padding: 15px
  border-radius: 8px
  font-size: 14px
