.ios view-wallets {
  .big-header {
    text-align: center;
    min-height: 269px;

    p {
      font-weight: 400;
      font-size: 17px;
      letter-spacing: -.4px;
      padding-top: 10px;
    }

    h2.amount {
      padding-top: 35px;
      font-size: 35px;
      font-weight: 400;
      small {
        font-size: inherit;
        font-weight: inherit;
      }
    }

    h3.detail-fiat {
      font-size: 17px;
      font-weight: 400;
    }
  }
}

view-wallets {
  .big-header {
    ion-spinner.spinner {
        position: absolute;
        top: 24px;
        right: 10px;
        color: white;
        &.spinner-ios {
          top: 28px;
          top: calc(28px + const(safe-area-inset-top));
          top: calc(28px + env(safe-area-inset-top));
          right: 13px;
        }
    }

  }

  ion-list.list {
    margin-bottom: 10px;
    margin-top: -10px;

    button[ion-item].item {

    }
  }

  ion-item.item.add-vault-block {
    background: #e9edf2;
    border-radius: 8px;
    margin: 10px 16px;
    width: calc(100% - 16px - 16px);
    padding-left: 20px;

    &:after {
      display: none;
    }

    ion-thumbnail[item-start] {
      min-height: 0;
      min-width: 0;
      margin-right: 21px;
      img {
        width: 29px;
        height: 24px;
      }
    }

    &.md-item {
      ion-label.label {
        h2 {
          text-transform: uppercase;
        }
      }
    }

    ion-label.label {
      h2 {
        font-weight: 500;
        font-size: 15px;
      }

      p {
        font-weight: 400;
      }
    }
  }

  ion-list.list {
    margin-bottom: 26px;

    button[ion-item].item {

      &:not(.import-wallet-button) {
        ion-label h2 {
          font-weight: 500;
        }
        ion-avatar {
          box-shadow: 0 0 0 2px map_get($colors, primary);
          border: 2px solid white;
        }
      }
    }
  }

  [class^="merit-icon"] {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    background: color($colors, primary);
  }

  .merit-icon-merit {
    background: color($colors, primary);
  }

  .add-item .wallet-icon {
    padding: 0 7px;
  }

  .error {
    color: color($colors, danger) !important;
  }

  .wallet {
    position: relative;
    .unlock-backdrop {
      height: 100%;
      width: 100%;
      background: rgb(244, 247, 250);
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1000;
      opacity: 0.7;
    }
    .unlock-popup {
      height: 70px;
      width: 240px;
      position: absolute;
      z-index: 1001;
      top: 50%;
      left: 50%;
      margin-top: -35px;
      margin-left: -120px;
      background: white;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
      text-align: center;
      border-radius: 2px;
      .top-label {
        font-size: 13px;
        color: rgb(115, 129, 155);
        margin: 25px 0;
      }
      img {
        height: 16px;
        vertical-align: middle;
        margin-right: 10px;
      }
      h2 {
        font-size: 17px;
        color: rgb(41, 61, 82);
        margin: 0;
        margin-top: 7px;
        display: inline-block;
      }
      .bottom-label {
        font-size: 13px;
        color: rgb(115, 129, 155);
        margin: 25px auto;
        width: 210px;
        margin-top: 5px;
        line-height: 15px;
      }
    }

  }

  .vaults-section {
      .item .detail {
        font-size: 13px;
        color: rgba(0,0,0,0.6);
      }
  }

}
