view-wallets {
  ion-header.header {
    //  background: linear-gradient(#282d50, #383c63);
    background: color($colors, primary);

    .toolbar-background {
      background: transparent;
    }

    ion-toolbar.toolbar {
      margin-top: 5px;
      ion-spinner.spinner {
        svg > * {
          stroke: white;
        }
        margin-bottom: 20px;
        min-height: 35px;
      }

      ion-row {
        text-align: center;
        padding: 0;
        margin: 0;

        ion-col {
          padding: 0;
          margin: 0;

          > small {
            color: white;
            font-weight: 600;
            font-size: 13px;
            line-height: 15px;
            display: block;
          }

          ion-avatar[img-icon] {
            float: none;
            margin: 12px auto;
            cursor: pointer;
            margin-bottom: 8px;
            background: rgba(0,0,0,.17);
            box-shadow: 0 0 1px 1px #afdffc;
          }

          span.merit-amount {
            color: white;
            font-weight: 600;
            font-size: 17px;
            letter-spacing: -.47px;
            padding-bottom: 24px;
            display: block;
            small {
              display: block;
              font-size: 13px;
            }
          }
        }
      }
    }
  }


  ion-header  {
    ion-spinner.spinner {
        position: absolute;
        top: 2px;
        right: 2px;
        color: white;
        &.spinner-ios {
          top: 2px;
          top: calc(2px + const(safe-area-inset-top));
          top: calc(2px + env(safe-area-inset-top));right: 1px;
        }
    }
  }

  ion-list.list {
    margin-bottom: 10px;
    margin-top: -10px;

    button[ion-item].item {

    }
  }

  .add-vault-block {
    background: #e9edf2;
    border-radius: 8px;
    margin: 0 16px;
    ion-item {
      padding-left: 20px;
      border-radius: 8px;
      background: #e9edf2;
      &:after {
        display: none;
      }
    }

    ion-thumbnail[item-start] {
      min-height: 0;
      min-width: 0;
      margin-right: 21px;
      img {
        width: 29px;
        height: 24px;
      }
    }

    &.md-item {
      ion-label.label {
        h2 {
          text-transform: uppercase;
        }
      }
    }

    ion-label.label {
      h2 {
        font-weight: 500;
        font-size: 15px;
      }

      p {
        font-weight: 400;
      }
    }

    .vaults-more-info {
      padding: 16px;
      padding-top: 0;
      font-weight: 400;
      font-size: 13px;
      color: #73819b;
    }
  }

  ion-list.list {
    margin-bottom: 26px;

    button[ion-item].item {

      &:not(.import-wallet-button) {
        ion-label h2 {
          font-weight: 500;
        }
        ion-avatar {
          box-shadow: 0 0 0 2px map_get($colors, primary);
          border: 2px solid white;
        }
      }
    }
  }

  [class^="merit-icon"] {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    background: color($colors, primary);
  }

  .merit-icon-merit {
    background: color($colors, primary);
  }

  .add-item .wallet-icon {
    padding: 0 7px;
  }

  .error {
    color: color($colors, danger) !important;
  }

  .scroll-content {
    margin-top: 195px !important;
  }

  .wallets.list {
    margin-bottom: 0;
  }

  .wallet {
    position: relative;
    .unlock-backdrop {
      height: 100%;
      width: 100%;
      background: rgb(244, 247, 250);
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1000;
      opacity: 0.7;
    }
    .unlock-popup {
      height: 70px;
      width: 240px;
      position: absolute;
      z-index: 1001;
      top: 50%;
      left: 50%;
      margin-top: -35px;
      margin-left: -120px;
      background: white;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
      text-align: center;
      border-radius: 2px;
      .top-label {
        font-size: 13px;
        color: rgb(115, 129, 155);
        margin: 25px 0;
      }
      img {
        height: 16px;
        vertical-align: middle;
        margin-right: 10px;
      }
      h2 {
        font-size: 17px;
        color: rgb(41, 61, 82);
        margin: 0;
        margin-top: 7px;
        display: inline-block;
      }
      .bottom-label {
        font-size: 13px;
        color: rgb(115, 129, 155);
        margin: 25px auto;
        width: 210px;
        margin-top: 5px;
        line-height: 15px;
      }
    }

  }

  .vaults-section {
    margin-top: -30px;
    .item .detail {
      font-size: 13px;
      color: rgba(0,0,0,0.6);
    }
  }

  .popup-community {
    position: absolute;
    bottom: 10px;
    right: 2.5%;
    width: 250px;
    text-align: center;
    padding: 20px 35px;
    padding-top: 30px;
    color: rgba(0,0,0,0.8);
    font-size: 13px;
    background: white;
    //border: 2px solid #0c0d29;
    border: 2px solid rgba(75, 176, 221, 1);
    box-shadow: 2px 2px 2px 2px rgba(12, 13, 41, 0.4);
    z-index: 1000;
    border-radius: 4px;
    &:before, &:after {
      content: "";
      position: absolute;
      z-index: 1000;
      bottom: -10px;
      right: 15px;
      border-top: 10px solid white;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 0;
    }
    &:before {
      border-top: 13px solid rgba(75, 176, 221, 1);
      border-left: 13px solid transparent;
      border-right: 13px solid transparent;
      bottom: -13px;
      right: 12px;
    }

    .close-button {
      position: absolute;
      top: -5px;
      right: -5px;
      font-size: 14px;
      padding: 0 !important;
      //color: rgba(75, 176, 221, 0.5);
      color: rgba(12, 13, 41, 0.35);
    }
  }

}
