slide-to-action {
  height: 56px;
  .container {
    background: rgb(45, 60, 80);
    position: relative;
    height: inherit;

    .slider, .text {
      position: absolute;
    }

    .slider {
      background: map_get($colors, primary);
      display: block;
      width: 64px;
      height: 40px;
      z-index: 1;
      margin: 8px;
      border-radius: 4px;
      text-align: center;

      ion-icon {
        color: white;
        width: inherit;
        height: inherit;
        line-height: 40px;
        font-size: 2.2rem;
      }
    }
    .text {
      color: white;
      z-index: 0;
      width: 100%;
      height: 100%;
      line-height: 56px;
      text-align: center;
      font-size: 17px;
    }

    &.disabled {
      opacity: 0.5;
    }
  }
}
