\:host
  display: block

.controls
  margin-right: 40px

merit-icon
  position: absolute
  width: 18px
  height: 18px
  right: 20px
  transition: all .2s ease-in .2s
  color: rgba(0, 0, 0, .1)

.wallets__group__wallet
  &:hover
    merit-icon
      right: 15px
      color: rgba(0, 0, 0, .15)
