@import '~styles/v1/common/import-sass'

\:host
  display: block

.controls
  margin-right: 40px
.inline-right
  merit-icon
    position: absolute
    width: 18px
    height: 18px
    right: 20px
    transition: all .2s cubic-bezier(0.47, 0, 0.745, 0.715) .2s
    color: rgba(0, 0, 0, .1)

.wallets__group__wallet
  position: relative
  &:hover
    .inline-right merit-icon
      right: 15px
      color: rgba(0, 0, 0, .15)
  .wallet-name
    display: flex
    align-items: center
  .locked
    merit-icon
      height: 15px
      background: $saffron
  &__stake-message
    background: $saffron
    width: calc(100% + 40px);
    margin: 5px -20px -20px -20px;
    border-radius: 0 0 5px 5px;
    padding: 3px 7px;
    font-size: 0.8em;
    box-shadow: 0 2px 5px -2px rgba(46, 51, 88, 0.21);
    color: white
.wallets__group__content
  margin-bottom: 45px
.stake-message__market-link
  font-weight: bold
  color: white

