view-network {

  ion-header.header {
    background: linear-gradient(#282d50, #383c63);

    .toolbar-background {
      background: transparent;
    }

    ion-toolbar.toolbar {
      ion-row {
        text-align: center;
        padding: 0;
        margin: 0;

        ion-col {
          padding: 0;
          margin: 0;

          > small {
            color: #acadbc;
            font-size: 13px;
            line-height: 15px;
            word-spacing: 100px;
            display: block;
          }

          ion-avatar[img-icon] {
            float: none;
            margin: 12px auto 14px;
            background: rgba(0,0,0,.17);
          }

          span.merit-amount {
            color: white;
            font-weight: 600;
            font-size: 17px;
            letter-spacing: -.47px;
            padding-bottom: 24px;
            display: block;

            small {
              display: block;
              font-size: 13px;
            }
          }
        }
      }
    }
  }

  ion-content.content > .scroll-content {
    background: #f6f8fa;
  }

  button[ion-button][item-end][icon-only] {
    width: 40px;
    ion-icon {
      width: 14px;
      height: 16px;
    }
  }

  ion-list.list {
    $border-color: transparentize(#d1d6dc, 0.5);
    border-bottom: 1px solid $border-color;
    border-top: 1px solid $border-color;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  ion-item-divider.item-divider {
    span.merit-amount {
      display: block;
      color: map_get($colors, primary);
      font-size: 13px;

      small {
        font-size: 11px;
      }
    }
  }

}
