view-network {

  .wallet-icon {
    margin-top: -2px;
    margin-right: 4px;
    display: inline-block;
    vertical-align: middle;
    width: 40px !important;
    height: 30px !important;
    box-shadow: none !important;
  }

  ion-card-header {
    height: 50px !important;
    line-height: 50px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  ion-item {
    white-space: nowrap;
    min-height: 35px !important;
    height: 35px !important;
    .item-inner {
      min-height: 35px !important;
      height: 35px  !important;
      line-height: 35px !important;
      padding: 0;
    }
    ion-label {
      button {
        height: 20px;
        width: 20px;
        vertical-align: middle;
        padding: 0 5px;
        ion-icon {
          margin-top: -10px;
          font-size: 20px !important;
          vertical-align: middle;
        }
      }
    }
  }

  ion-spinner {
    vertical-align: middle;
  }

}
