// TODO: Improve details spaces and make relative.  
// TODO: Improve details spaces and make relative.
wallet-details-view {
  .scroll-content {
    margin-top: 0 !important;
  }

  .header {
    color: color($colors, light);
    background: transparent;
    .toolbar-background {
      background: transparent;
    }
  }

  .toolbar {
    background: transparent;
  }
  .bar-button {
    color: color($colors, light);
  }
  .toolbar-title {
    color: color($colors, light);
  }
  .balance-header {
    padding-top: 56px;
    margin-top: 0;
    color: color($colors, light);
    height: 200px;
    text-align: center;
  }
  .balance-header.default {
    background-color: $wallet-default-color;
  }
  .balance-str {
   padding-top: 10%;
    font-size: 35px;
    font-weight: 600;
  }
  .balance-alt-str {
    font-size: 20px;
    font-weight: 500;
  }
  .label {
    display: -webkit-inline-box !important;
  }
  .action {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .detail {
    position: absolute;
    right: 40px;
    text-align: end;
    bottom: 6px; 
    .amount {
      color: color($colors, primary);
      font-size: 16px;
    }
    .date {
      font-size: 12.5px;
      color: #666;
    }
  }

}
