// TODO: Improve details spaces and make relative.
wallet-details-view {
  .scroll-content {
    margin-top: 0 !important;
  }

  ion-header {
    color: color($colors, light);
    &:after {
      display: none;
    }
    ion-navbar,
    .toolbar-background {
      background-color: $wallet-default-color;
      border: none !important;
    }
  }

  .toolbar {
    color: color($colors, light);
  }
  .bar-button {
    color: color($colors, light);
  }
  .toolbar-title {
    color: color($colors, light);
  }

  .balance-header {
    padding-bottom: 2rem;
    margin-top: 0;
    color: color($colors, light);
    height: 20%;
    text-align: center;
  }
  .balance-header.default {
    background-color: $wallet-default-color;
  }
  .balance-str {
    padding-top: 10rem;
    font-size: 2rem;
    font-weight: 600;
  }
  .balance-alt-str {
    font-size: 1.25rem;
    font-weight: 500;
  }
  .label {
    display: -webkit-inline-box !important;
  }
  .action {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .detail {
    position: absolute;
    right: 40px;
    text-align: end;
    bottom: 6px;
    .amount {
      color: color($colors, primary);
      font-size: 16px;
    }
    .date {
      font-size: 12.5px;
      color: #666;
    }
  }
}
