view-easy-send-share {
  background-color: #f7f7fa;
  text-align: center;

  .content,
  .scroll-content {
    background-color: #f7f7fa;
  }

  ion-card-header {
    text-align: center;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6) !important;
    font-weight: 600;
  }

  .send-ready {
    width: 192px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 20px;
  }

  h2 {
    color: #2d3b50;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
    display: block;
  }

  ion-card-content {
    text-align: left;
  }

  .card {
    width: 312px;
    box-shadow: 0 4px 16px rgba(69, 91, 99, 0.08);
    background-color: #ffffff;
    margin: 0 auto;
    border-radius: 20px;
    padding: 10px 30px 0;

    a {
      color: #3497fd;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.14px;
      line-height: 16px;
      padding-bottom: 10px;
      display: block;
    }

    .card-header {
      color: #adb4be;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0.58px;
      text-transform: uppercase;
    }

    .row {
      margin: 0 -30px;
      width: calc(100% + 60px);
      border-top: 1px solid #ededed;

      .button-inner {
        color: #3497fd;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.84px;
        line-height: 20px;
      }
    }
  }
}
