\:host
  display: block
  border-radius: 4px
  background: transparentize(red, 0.9)
  border: 1px solid red
  margin: 10px 0
  padding: 10px 20px
  width: calc(100% - 40px)

  &.success
    background: rgba(75, 176, 221, 0.1)
    border: 1px solid #98bfff
    a
      color: #4bb0dd