@import "~styles/v1/theme"
.dashboard-panel
  &__title
    padding: 50px 40px
    span
      color: $blue
  &__group
    display: flex
    flex-flow: row wrap
    justify-content: space-between
  &__widged
    width: calc(50% - 20px)
    &--latest-transactions
      padding: 50px 0
      .title--primary
        margin-bottom: 30px
