@import "~styles/v1/common/variables"

.dashboard-panel
  &__title
    padding: 50px 40px
    span
      color: $blue
  &__group
    padding: 0 40px 50px
    &__wrap
      display: flex
      flex-flow: row wrap
      justify-content: space-between
  &__widged
    width: calc(50% - 20px)
    &--latest-transactions
      padding: 50px 0
      .title--primary
        margin-bottom: 30px
.dashboard-panel__quick-sending
  padding: 50px 0 40px
  max-width: 700px
  width: 100%
  margin-bottom: -40px
  .title--primary
    margin-bottom: 30px
  .ui-button
    position: absolute
    right: 10px
    top: 10px
  .ui-input__addon
    right: 90px
    top: 12px
  .ui-input
    padding-right: 150px
