view-unlock-requests {

  ion-header {
    ion-avatar {
      background: transparent !important;
      .invites-icon {
        transform: rotate(-45deg);
      }
    }
  }


  .cta {
    text-align: center;
    img {
      max-width: 45%;
      height: auto;
      margin-top: 50px;
      margin-bottom: 20px;
    }

    .info-box {
      text-align: left;
      color: #73819B;
      background: transparent;
      p {
        margin-bottom: 0;
      }
    }
  }

  h2.address {
    font-size: 11px !important;
  }

  .total-invites {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 50px;
    min-width: 60px;

    span {
      text-align: center;
      font-weight: 600;
      color: #2d3c50;
      padding-right: 5px;
      width: calc(100% - 40px);
    }

    ion-avatar[img-icon] {
      transform: scale3d(0.9, 0.9, 1);
    }
  }

  ion-avatar {
    text-align: center;
    color: color($colors, primary);
    display: inline-block;
    line-height: 40px;
    letter-spacing: -2px;
    span {
      text-align: center;
      width: 38px;
    }
  }
}
