.backup
  &__title
    margin-bottom: 20px
  &__navigator
    display: flex
    flex-flow: row wrap
    justify-content: space-evenly
    align-items: center
    &__item
      width: calc(100% / 3 - 30px)
      background: $white
      border-radius: 5px
      box-shadow: 0 2px 4px rgba(46,51,88, 0.22)
      text-align: center
      padding: 50px 20px 40px
      cursor: pointer
      &__icon
        margin-bottom: 20px
      &__title
        +font(500, 17px, 17px, $dark-grey-blue)
        margin-bottom: 30px
      &__caption
        +font(300, 14px, 14px, $dark-grey-blue, normal, none, none)
  &__caption
    +font(300, 15px, 22px, $gun-metal, normal, none, none)
    p
      margin-bottom: 15px
  &__back-navigator
    margin-bottom: 20px
    padding-top: 50px
    cursor: pointer
  &__header
    display: flex
    justify-content: space-between
    max-width: 900px
    width: 100%
  &__mnemonic
    padding-top: 30px
    &__container
      background: $white
      box-shadow: 0 2px 4px rgba(46,51,88,0.22)
      padding: 35px 55px
      +font(300, 35px, 45px, $gun-metal, normal, none, none)
      letter-spacing: -1px
      text-align: center
      word-spacing: 20px
      p
        display: inline-block
        max-width: 750px
        width: 100%
        margin: 0px auto
    button
      margin-bottom: 30px
.backup__mnenmonic__wrap
  padding: 0px 40px
