// TODO(Vladimir) move this to the components SASS file

.history
  &__header
    margin-bottom: 30px
  &__list
    max-width: 400px
    width: 100%
  &__item
    display: flex
    flex-flow: row wrap
    justify-content: space-between
    text-align: left
    align-items: center
    border-bottom: 1px solid $pale-grey-two
    padding-bottom: 15px
    margin-bottom: 15px
    &__icon
      background: $pale-grey
      width: 60px
      height: 60px
      display: flex
      justify-content: center
      align-items: center
    &__info
      width: calc(100% - 80px)
      display: flex
      justify-content: space-between
      align-items: center
      letter-spacing: .3px
      &__title
        +font(400, 15px, 22px, $gun-metal)
        margin-bottom: 5px
      &__date
        +font(400, 12px, 16px, $blue-grey)
      &__amount
        +font(300, 14px, 24px, initial)
        &--plus
          color: $blue
        &--minus
          color: $gun-metal
.noItems
  &_title
    +font(400, 24px, 28px, $blue)
    margin-bottom: 10px
  &_description
    +font(400, 18px, 24px, $gun-metal)
