.notification
  &__box
    position: fixed
    top: 0px
    right: 50px
    height: 73px
    display: flex
    align-content: center
    align-items: center
  &__button
    border: 0
    background: transparent
    height: 22px
    position: relative
    img
      width: 20px
      height: 22px
  &__indicator
    position: absolute
    width: 5px
    height: 5px
    background: $blue
    border-radius: 5px
    right: 2px
    top: 0px
.notifications__history
  height: calc(100vh - 73px)
  width: 300px
  position: fixed
  right: 0px
  top: 73px
  overflow-y: scroll
  +transition(.5s, linear)
  background: rgba(255,255,255, .98)
  box-shadow: 2px 0px 2px rgba(46, 53, 59, 0.05)
  &--false
    right: -100%
  &--true
    right: 0%
  &__empty
    padding: 20px
    +font($baseFont--heavy, 18px, 24px, $gun-metal)
    opacity: .5
    text-align: center
    font-style: italic
  &__nav
    +font($baseFont--semibold, 14px, 24px, $gun-metal)
    display: flex
    justify-content: space-between
    padding: 20px 20px
    opacity: 0.6
    &__close
      font-style: italic
      cursor: pointer
    &__clear
      text-decoration: underline
      cursor: pointer
  &__notification
    padding: 20px
    border-top: 1px solid $pale-grey
    +font($baseFont--medium, 14px, 24px, $gun-metal)
    &__header
      display: flex
      justify-content: space-between
      align-items: center
      margin-bottom: 5px
      &__title
        font-family: $baseFont--heavy
        font-size: 16px
      &__time
        font-size: 10px
