.stats
  background: $dark-grey-blue
  padding: 35px 20px
  &__wrap
    display: flex
    justify-content: space-between
    flex-flow: row wrap
  &__item
    width: 25%
    text-align: center
    &__title
      +font-old-minix($baseFont--regular, 16px, 15px, $cool-grey)
      margin: 0px auto 35px
      max-width: 120px
      width: 100%
    &__info
      +font-old-minix($baseFont--semibold, 17px, 15px, $white)
      letter-spacing: -0.5px
      margin-bottom: 5px
      span
        font-size: 14px
    &__grows
      display: flex
      justify-content: center
      align-items: center
      +font-old-minix($baseFont--semibold, 14px, 14px, $light-green-blue)
      letter-spacing: -0.4px
      p
        margin: 0px 2px
        span
          font-size: 10px
    &__picture
      width: 60px
      height: 60px
      border-radius: 60px
      display: flex
      justify-content: center
      align-items: center
      margin: 0px auto 20px
      background: rgba(0,0,0, .2)
