.receiveMerit
  padding: 50px 40px 0
  &__header
    color: $gun-metal
    margin-bottom: 30px
  &__content
    display: flex
    flex-flow: row wrap
    padding-bottom: 105px
  &__footer
    background: $gun-metal
    margin: 0 -40px
    padding: 30px 40px 40px
    &__caption
      +font(400, 15px, 22px, $white)
      letter-spacing: .3px
  &__form,
  &__totals
    width: 50%
    box-sizing: border-box
  &__form
    padding-right: 40px
  &__totals
    padding-top: 30px
  .fee-label
    +font(400, 15px, 15px, $blue, uppercase, none, none)
    padding-left: 2px
.receiveMerit__form__group
  margin-bottom: 30px
  .ui-input
    margin-bottom: 5px
    font-weight: bold
    &:disabled
      background-color: $grey
.receiveMerit__totals__table
  background: $white url('/assets/v1/images/send_merit/merit-stamp.png') no-repeat 80% 100%
  padding: 30px
  box-sizing: border-box
  +font(400, 14px, 24px, $gun-metal)
  &__row
    display: flex
    justify-content: space-between
    margin-bottom: 10px
    &--devider
      height: 1px
      width: 100%
      background: $pale-grey-two
      margin: 30px 0
.receiveMerit__totals__qr
  background: $white
  padding: 30px 30px 20px
  max-width: 260px
  width: 100%
  text-align: center
  &__box
    margin-bottom: 20px
    img
      max-width: 220px
      width: 100%
  &__copy
    +font-old-minix($baseFont--regular, 14px, 24px, $blue)
    border: 0
    background: transparent
    &:hover
      text-decoration: underline
.receiveMeritEmpty
  padding: 50px 40px 0
  &__header
    h3
      font-size: 28px
      text-align: center
  &__description
    padding: 20px 10px 0
    font-size: 14px
    text-align: center
