.selectbox
  position: relative
  &__dropdown
    position: absolute
    top: calc(100% + 10px)
    background: $white
    box-shadow: 0 4px 5px rgba(46,53,59, .14)
    width: 100%
    padding: 10px
    z-index: 99
    max-height: 182px
    overflow-y: auto
    border: 1px solid rgba(72, 77, 94, 0.5)
    &__icon
      max-width: 13px
      width: 100%
      margin-right: 5px
    &__item
      width: 100%
      display: flex
      align-items: center
      background: transparent
      border: 0px
      +font(400, 14px, 24px, $gun-metal)
      &:hover
        color: $blue
  &__color
    width: 20px
    height: 15px
    border-radius: 3px
    display: inline-block
    margin-right: 10px
  &__selected
    display: flex
    align-items: center
  &--disabled
    opacity: .7
    cursor: not-allowed
    .ui-input
      cursor: not-allowed
      &:focus
        border-color: $light-blue-grey
