.global-settings
  padding: 50px 40px
  &__title
    margin-bottom: 40px
  &__back
    margin-bottom: 20px
    cursor: pointer
  &__group
    margin-bottom: 30px
    background: $white
    padding: 30px 20px 20px
    &__title
      +chageFontSize(20px, 24px)
      font-family: $baseFont--semibold
      color: $blue
      margin-bottom: 20px
    &__item
      display: flex
      justify-content: space-between
      flex-flow: row wrap
      align-items: center
      border-bottom: 1px solid $light-blue-grey
      padding: 20px 0px 18px
      &:last-of-type
        border-bottom: 0px
      &__title
        color: $steel-two
        margin-bottom: 0
        &--dark
          color: $gun-metal
        &--link
          color: $blue
          text-decoration: underline
          cursor: pointer
      &--70
        width: 70%
      &--30
        width: 30%
.session-log
  &__filter
    display: flex
    flex-flow: row wrap
    justify-content: flex-start
    margin-bottom: 30px
    &__item
      +font(400, 15px, 15px, $light-blue-grey)
      text-align: center
      cursor: pointer
      padding: 10px 20px
      border: 1px solid $light-blue-grey
      border-right: 0px
      margin-left: -2px
      display: flex
      align-items: center
      .ico
        background: $light-blue-grey
        width: 10px
        margin-right: 5px
      &:last-of-type
        border-right: 1px solid $light-blue-grey
      &.active
        color: $blue
        .ico
          background: $blue
  &__window
    width: calc(100 - 40%)
    margin: 0 auto
    border: 1px solid $light-blue-grey
    box-sizing: border-box
    padding: 20px
    overflow-y: auto
    max-height: 500px
.global-settings__back
  display: flex
  align-items: center
  .global-settings__group__title
    margin-bottom: 0px
  img
    margin-right: 20px
