.task_wrap
  display: flex
  width: 100%
.task_navigation
  width: 100%
  margin-bottom: 20px
.navigation_back
  position: relative
  width: 30px
  height: 30px
  border-radius: 100%
  background: $white
  box-shadow: 0 0 2px rgba(0,0,0, .2)
  display: block
  margin-right: 20px
  cursor: pointer
  &:after
    content: ""
    display: block
    mask-size: contain
    mask-position: 50% 50%
    mask-repeat: no-repeat
    background: $blue
    mask-image: url('/assets/v1/icons/back-chevron.svg')
    height: 16px
    width: 16px
    top: 7px
    position: relative
    left: 5px
.wallet-setup
  padding: 50px 40px
.wallet-setup_title
  margin-bottom: 40px
  display: flex
  align-items: center
.wallet-setup_description
  padding-bottom: 20px
  +font(300, 18px, 26px)
  p
    margin-bottom: 10px
  ol
    list-style-type: decimal
    padding-left: 20px
    margin: 0px 0px 10px 5px
    li
      margin-bottom: 5px
.wallet-setup_wrap
  display: flex
  flex-flow: row wrap
  justify-content: space-between
.wallet-setup_task
  display: flex
  justify-content: space-between
  .icon
    width: 200px
    img
      width: 100%
  .caption
    width: calc(100% - 230px)
  ul
    li
      margin-bottom: 5px
    li:before
      content: "✓"
      color: $blue
      opacity: .7
      margin-right: 10px
.wallet-setup_preview
  display: flex
  margin-bottom: 30px
  align-items: center
  justify-content: space-between
  position: relative
  background: $white
  border-radius: 5px
  box-shadow: 2px 2px 10px rgba(0,0,0, .1)
  padding: 20px
  .icon
    width: 30px
    height: 60px
    margin-right: 20px
    align-items: center
    justify-content: center
    display: flex
    merit-icon
      opacity: .4
    strong
      +font(900, 12px, 12px, $blue)
  .details
    width: 100%
    box-sizing: border-box
    &_title
      +font(300, 18px, 26px)
      position: relative
      display: inline-block
      .link
        text-decoration: underline
        color: $blue
        cursor: pointer
    &_description
      +font(300, 15px, 26px, $grey-2)
    &_settings
      display: flex
      align-items: center
  &.complete
    .icon merit-icon
      opacity: 1
      background: $blue
.wallet-setup_preview--settings
  justify-content: flex-start
  .icon
    merit-icon
      background: $blue
      opacity: 1
  ui-checkbox
    position: relative
    margin-left: 10px
    top: 2px
