.wallets
  padding: 50px 40px 30px
  &__group
    padding-bottom: 30px
    &__header
      display: flex
      justify-content: space-between
      margin-bottom: 30px
      .ui-button
        margin-left: 10px
      &__title
        color: $gun-metal
    &__content
      position: relative
      border-radius: 5px
      margin-bottom: 10px

.wallet-details
  &__header
    &__wrap
      display: flex
      justify-content: flex-start
      align-items: center
      padding: 40px
    .details
      display: flex
      flex-direction: column
      width: 100%
      position: relative
      &_addWallet
        display: flex
        justify-content: space-between
        padding-top: 20px
        +font(300, 20px, 26px, $white)
        border-top: 1px solid rgba(255, 255, 255, .3)
        margin-top: 30px
    &__amount
      display: flex
      justify-content: flex-start
      align-items: center
      +font(900, 32px, 32px, $white)
      padding-right: 40px
      small
        font-weight: 500
      &__name
        font-weight: 500
        padding: 0px 20px
        border-right: 2px solid rgba(255, 255, 255, .2)
        margin-right: 20px
      &__balance
        font-size: 20px
    &__navigation
      &__button
        text-transform: uppercase
        font-weight: 500
        margin: 0 5px
  &__content
    padding: 40px
    &__navigation
      margin-bottom: 60px
      ul
        display: flex
        justify-content: flex-start
        margin-left: -20px
        li
          padding: 10px 20px
          border-right: 2px solid $pale-grey-two
          &:last-of-type
            border: 0px
          a
            +font(300, 20px, 20px, $gun-metal)
            +transition(.2s)
            &::after
              content: ""
              display: block
              width: 100%
              height: 2px
              background: $blue
              transform: scale3d(0,0,0)
              +transition(.2s)
            &.active,
            &:hover
              color: $blue
              &::after
                transform: scale3d(1,0,0)
    &__title
      +font(900, 28px, 32px, $blue)
      margin-bottom: 40px

.wallet-settings__group
  max-width: 550px
  width: 100%
  &__checkbox
    display: flex
    justify-content: flex-start
    align-items: center
    margin-bottom: 30px
    .ui-label
      width: initial
      display: inline-block
      margin-right: 20px
      margin-bottom: 0
      position: relative
      top: -2px
  &__export-wallet
    display: flex
    justify-content: flex-start
    align-items: center
    margin-bottom: 30px
    .ui-label
      width: initial
      display: inline-block
      margin-right: 20px
      margin-bottom: 0
      position: relative
    .ui-button
      padding: 2px 15px
      min-width: 60px
      box-sizing: border-box
      img
        width: 15px

.wallet-settings__multi-group
  border: 1px solid $light-blue-grey
  border-radius: 4px
  padding: 20px
  max-width: 550px
  width: 100%
  margin-bottom: 30px
  &--fullWidth
    max-width: 100%
    padding-bottom: 0px

.submit__password
  display: flex
  justify-content: space-between
  align-items: center

.submit__password__warning
  padding-right: 20px
  p
    margin-bottom: 10px
    +chageFontSize(14px, 16px)
    strong
      +chageFontSize(16px, 18px)
      font-weight: 500
      color: $rose-pink

.wallet
  &__name
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 20px
    display: flex
    +font(300, 22px, 22px, $white)
    merit-icon
      margin-right: 20px
    &__info
      display: flex
      align-items: center
      justify-content: space-between
    &__share
      display: inline-flex
      align-items: center
      font-size: 16px
      cursor: pointer
      merit-icon
        width: 24px
        height: 24px
        margin-right: 0
        margin-left: 10px
  &__balance
    display: flex
    align-items: center
    +font(300, 22px, 22px, $white)
    margin-bottom: 20px
    merit-icon
      background: $white
      width: 30px
      height: 25px
      margin-right: 20px
  &__invites
    display: flex
    align-items: center
    +font(300, 18px, 22px, $white)
    margin-bottom: 20px
    merit-icon
      background: $white
      width: 25px
      height: 25px
      margin-right: 20px
      margin-left: 5px
  &__navigation
    display: flex
  &__button
    padding: 20px 30px
    background: rgba(255, 255, 255, .05)
    +font(300, 18px, 18px, $white)
    text-transform: uppercase
    min-width: 150px
    cursor: pointer
    margin-right: 20px
    text-align: center
    +transition(.2s)
    &:hover
      background: rgba(255, 255, 255, .1)
    &:before
      display: inline-block
      content: ""
      width: 12px
      height: 15px
      mask-image: url('/assets/v1/icons/buttons/load.svg')
      mask-repeat: no-repeat
      background: $white
      margin-right: 5px
    &--send::before
      transform: rotate3d(0,0,1,180deg)

.wallet-details
  .backup__navigator
    margin-left: -20px
    justify-content: flex-start
  .backup__navigator__item
    margin-right: 20px
