@import '~styles/v1/common/import-sass'

.sendMerit__form__group
  position: relative

input[type="number"]
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button
    -webkit-appearance: none
    margin: 0

.ui-input__wrapper--currency
  .ui-input__addon
    z-index: 2
.sendMerit__totals__table
  position: relative
  loading-spinner-small
    display: flex
    justify-content: flex-start
    align-items: center
    position: absolute
    height: calc(100% + 60px)
    top: -30px
    width: 100%
    left: -40px
    background: $pale-grey-four
    z-index: 10
    opacity: 0.95
    &:after
      display: block
      position: absolute
      content: ""
      width: 80px
      height: 100%
      right: -80px
      background: $pale-grey-four

  .sending-via
    min-width: 80px
  .sending-via-value
    max-width: calc(100% - 80px)
    word-wrap: break-word
