@import "~styles/v1/common/variables"
@import "~styles/v1/common/mixins"

.sendMerit
  padding: 50px 40px
  &__header
    color: $gun-metal
    margin-bottom: 30px
  &__content
    display: flex
    flex-flow: row wrap
    background: $white
  &__form,
  &__totals
    box-sizing: border-box
    padding: 30px 40px
  &__form
    width: 60%
    .sendMerit__form__group
      .switch-type
        margin-top: -20px
        a
          +font($baseFont--medium, inherit, inherit, $blue, uppercase, none, none)
          cursor: pointer
  &__totals
    width: 40%
  &__totals
    background: $pale-grey-four
    .sendMerit__form__group
      height: 100%
  .fee-label
    +font($baseFont--medium, 15px, 15px, $blue, uppercase, none, none)
    padding-left: 2px
.sendMerit__form__group
  margin-bottom: 30px
  .ui-input
    margin-bottom: 5px
.sendMerit__totals__table
  box-sizing: border-box
  +font($baseFont--medium, 16px, 24px, $gun-metal)
  display: flex
  align-items: flex-start
  flex-flow: row wrap
  height: 100%
  &--top
    width: 100%
  &--bottom
    width: 100%
    align-self: flex-end
  &__row
    display: flex
    justify-content: space-between
    margin-bottom: 10px
    width: 100%
    &--devider
      height: 2px
      width: 100%
      background: $pale-grey-two
      margin: 30px 0
    &--strong
      font-family: $baseFont--heavy
