@import "~styles/v1/theme"
.sendMerit
  padding: 50px 40px
  &__header
    color: $gun-metal
    margin-bottom: 30px
  &__content
    display: flex
    flex-flow: row wrap
  &__form,
  &__totals
    width: 50%
    box-sizing: border-box
  &__form
    padding-right: 40px
  &__totals
    padding-right: 80px
  .fee-label
    +font($baseFont--medium, 15px, 15px, $blue, uppercase, none, none)
    padding-left: 2px
.sendMerit__form__group
  margin-bottom: 30px
  .ui-input
    margin-bottom: 5px
.sendMerit__totals__table
  background: $white url('/assets/v1/images/send_merit/merit-stamp.png') no-repeat 80% 100%
  padding: 30px
  box-sizing: border-box
  +font($baseFont--medium, 14px, 24px, $gun-metal, none, none, none)
  &__row
    display: flex
    justify-content: space-between
    margin-bottom: 10px
    &--devider
      height: 1px
      width: 100%
      background: $pale-grey-two
      margin: 30px 0
