@import '~styles/v1/common/import-sass'
message-box[success]
  .easysend-url-container
    cursor: pointer
    +display(block)
    word-wrap: break-word
    padding: 30px 5px
    border: 2px solid rgba(255,255,255,.4)
    margin-top: 20px
    background: rgb(255, 255, 255)
    border-radius: 5px
    position: relative
    text-align: center
    font-size: 16px
    color: rgba(0, 0, 0, 0.77)
    &:hover
      small.click_to_copy
        opacity: 0.999
    small.click_to_copy
      position: absolute
      top: 5px
      left: calc(50% - 35px)
      opacity: 0
      color: $blue
      transition: opacity .2s ease-in-out

.sendMerit__form__group
  position: relative

input[type="number"]
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button
    -webkit-appearance: none
    margin: 0

.ui-input__wrapper--currency
  .ui-input__addon
    z-index: 2
.sendMerit__totals__table
  position: relative
  loading-spinner-small
    display: flex
    justify-content: flex-start
    align-items: center
    position: absolute
    height: calc(100% + 60px)
    top: -30px
    width: 100%
    left: -40px
    background: $pale-grey-four
    z-index: 10
    opacity: 0.95
    &:after
      display: block
      position: absolute
      content: ""
      width: 80px
      height: 100%
      right: -80px
      background: $pale-grey-four
