tx-details-view {

  ion-header.header button[ion-button].bar-button {
    color: white !important;
  }

  .scroll-content {
    margin-top: 0 !important;
  }

  .big-header {
    text-align: center;

    .date {
      color: rgba(255, 255, 255, 0.6);
      font-size: 13px;
    }

    .contact-info {
      margin-top: 18px;

      contact-avatar,
      contact-avatar ion-avatar,
      contact-avatar span {
        width: 80px;
        height: 80px;
      }

      contact-avatar {
        > ion-avatar {
          float: none;
          margin: auto;

          > img {
            width: 40px;
            height: 40px;
          }
        }

        span {
          font-size: 24px;
          line-height: 80px;
          letter-spacing: -1.4px;
        }
      }

      .name {
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 17px;
        letter-spacing: -0.2px;
        font-weight: 500;
      }
    }

    .fee {
      margin-top: 24px;
      font-size: 13px;
    }
  }

  ion-item.item.confirmation-status {
    h2 {
      color: rgb(255, 160, 0);
    }

    &.confirmed {
      h2 {
        color: rgb(0, 150, 136);
      }
    }
  }

  ion-item.item.cancelled-status {
     ion-icon {
       font-size: 25px;
       margin: 0;
     }
  }
}
