@import '~styles/v1/common/import-sass'

.box
  position: fixed
  top: 0
  right: 50px
  height: 73px
  display: flex
  align-content: center
  align-items: center
  .button
    border: 0
    background: transparent
    height: 22px
    position: relative
    img
      width: 20px
      height: 22px
    .indicator
      position: absolute
      width: 5px
      height: 5px
      background: $blue
      border-radius: 5px
      right: 2px
      top: 0

