view-incoming-request {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    height: 100%;

    > div {
    }
  }

  ion-footer.footer {

    &:before {
      display: none;
      border: 0;
    }

    ion-toolbar.toolbar {
      padding: 0;

    }

    ion-list.list {
      margin: 0;

      button[ion-item].item {

        padding: 0;
        border-top: 1px solid rgb(232, 234, 237);

        &.wallet-selector {
          padding: 7px 17px;

          * {
            text-align: left;
          }
        }

        &:not(.wallet-selector) {
          height: 54px;
          max-height: 54px;

          ion-label.label {
            color: rgb(0, 176, 221);
            font-size: 13px;
            font-weight: 600;
            text-transform: uppercase;
          }
        }

        .item-inner {
          border-bottom: none;
        }
      }
    }
  }

  * {
    text-align: center;
  }

  span {
    display: block;
  }

  .date {
    font-size: 13px;
    color: rgb(115, 129, 155);
    margin-top: 24px;
  }

  .wallet-name {
    margin-top: 25px;
    color: rgb(45, 60, 80);
    font-size: 17px;
    letter-spacing: -.5px;
    font-weight: 500;
  }

  .status {
    &.pending {
      color: rgb(255, 160, 0);
    }

    &.accepted {
      color: rgb(0, 150, 136);
    }

    &.hidden {
      color: rgb(208, 2, 27);
    }

    margin-top: 4px;
    letter-spacing: -.2px;
    font-size: 17px;
  }

  .to-wallet {
    color: rgb(115, 129, 155);
  }

  .scroll-content {
    ion-avatar {
      height: 80px !important;
      width: 80px !important;
      margin: 24px auto;
      img {
        height: 30px !important;
      }
    }
  }
}
