view-incoming-request {

  text-align: center;

  .datetime {
    color: rgb(115, 129, 155);
    font-size: 13px;
    margin-top: 24px;
  }

  ion-avatar {
    height: 80px !important;
    width: 80px !important;
    margin: 24px auto;
    img {
      height: 30px !important;
    }
  }

  h2 {
    margin: 0;
    font-size: 15px;
    color: rgb(45, 60, 80);
  }
  p {
    font-size: 15px;
    color: rgba(45, 60, 80, 0.9);
    margin: 0;
    margin-top: 4px;
  }

  ion-list {
    text-align: center;
    margin-top: 24px !important;
    button {
      text-align: center !important;
      font-weight: 600 !important;
      ion-label {
        color: rgb(0, 176, 221) !important;
      }
    }
    button:first-of-type:before {
      content: '';
      width: calc(100% - 16px - 19px);
      background: rgba(209, 214, 220, 0.5);
      height: 1px;
      position: absolute;
      top: 1px;
      left: 19px;
    }
  }


}
